<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="localidades" titulo="Localidades / Catálogo" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>


<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
                <section class="hero is-primary">
                    <div class="hero-body">

                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>
                    </div>
                </section>

                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">

                        <div class="columns">
                                <div class="column is-3">
                                    <p class="control is-expanded  has-icon has-icon-right">
                                        <label class="label">Clave:</label>
                                        <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('clave').hasError('required') && ctrl.dato.get('clave').touched}"
                                            placeholder="Clave" formControlName="clave">
                                        <span class="icon is-small" *ngIf="ctrl.dato.get('clave').hasError('required') && ctrl.dato.get('clave').touched"><i class="fa fa-warning"></i></span>
                                        <span class="help is-danger" *ngIf="ctrl.dato.get('clave').hasError('required') && ctrl.dato.get('clave').touched">Este campo es requerido.</span>
                                    </p>
                                </div>
        
                                <div class="column is-9">
                                    <p class="control is-expanded  has-icon has-icon-right">
                                        <label class="label">Nombre del la Localidad:</label>
                                        <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').touched}"
                                            placeholder="Nombre del Municipio" formControlName="nombre">
                                        <span class="icon is-small" *ngIf="ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').touched"><i class="fa fa-warning"></i></span>
                                        <span class="help is-danger" *ngIf="ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').touched">Este campo es requerido.</span>
                                    </p>
                                </div>
                            </div>
        
                            <div class="columns">
                                <div class="column is-12 field">
                                    <label class="label">Municipio:</label>
                                    <span  class="select">
                                        <p class="control is-expanded  has-icon has-icon-right">
                                            <select class="select" name="municipios_id" formControlName="municipios_id" [ngClass]="{'is-danger': municipios_id?.length == 0 }">
                                                <option *ngFor="let val of ctrl.municipios" value="{{val.id}}" >{{ val.nombre }}</option>
                                            </select>
                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.municipios_id.valid">Este campo es requerido.</span>
                                        </p>
                                    </span>
                                </div>
                            </div>

                </section>
            </form>
        </div>
    </div>
</div>