<section class="hero" [ngClass]=" {'is-dark': busquedaActivada, 'is-primary': !busquedaActivada } ">
    
    <div class="hero-body" style="position:relative;">

        <div class="control is-grouped" style="position:absolute; top:0.5em; right:0em;">

            <p class="control">
                <a class="tooltip" [ngClass]="busquedaActivada ? 'is-dark' : 'is-primary'"  (click)="imprimir()">
                    <span class="icon fa-2x">
                        <i class="fa fa-print"></i>
                    </span>
                    <span class="tooltiptext">Imprimir</span>
                </a>
            </p>

        </div>

        <div class="container is-fluid">

            <div class="control">
                
                    <div class="columns">
                        <div class="column is-1" style="text-align:center">
                            <div class="b-checkbox is-circular is-info">
                                <input value="1" name="rango_definido" id="tipo_rango" (change)="get_url()"  class="styled" type="radio">
                                <label for="rango_definido"> 
                                </label>
                            </div>
                        </div>
                        <div class="column is-8">
                            <div class="select">
                                <select class="select" style="width:100%;" id="rango_fecha" (change)="get_url()" >
                                    <option *ngFor="let val of rangos_fecha" value="{{val.id}}" >{{ val.nombre }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-1" style="text-align:center">
                            <div class="b-checkbox is-circular is-info">
                                <input id="tipo_rango" value="2" name="rango_dinamico" (change)="get_url()"  class="styled" type="radio">
                                <label for="rango_dinamico">
                                </label>
                            </div>
                        </div>
                        <div class="column is-4">
                            <input class="input is-medium" id="fecha_inicial" (change)="get_url()"  style="width:100%;" type="text" placeholder="2017-09-28">
                        </div>
                        <div class="column is-4">
                            <input class="input is-medium" id="fecha_final" (change)="get_url()"  style="width:100%;" type="text" placeholder="2017-09-29">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-5">
                            <div class="select">
                                <select class="select" id="tipo_venta" style="width:100%;" >
                                    <option selected value="TODO">Todas las ventas</option>
                                    <option *ngFor="let val of tipos_movimientos" value="{{val.id}}" >{{ val.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-4">
                            
                            <button class="button is-success is-medium tooltip" type="button" (click)="ctrl.cargarCatalogo('reporte_venta','reporte-venta?filtro='+rango_fecha)">Buscar</button>
                        </div>
                    </div>
                
            </div>
        </div>

    </div>
</section>

<div class="is-fullwidth has-text-centered" *ngIf="cargando">
    <br>
    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
    <br>
    <br>
</div>