language: node_js
node_js:
  - "8"

branches:
  only:
    -master

addons:
  chrome: stable

install:
  - npm install

before_script:
  - npm install -g @angular/cli

cache:
  npm: true
  directories:
    - node_modules

script:
  - ng build --aot --env prod

deploy:
  on:
    all_branches: true
