<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="perfil" titulo="Perfil" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    
    <div class="column is-2 is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

             <!-- inicio formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
            <section class="hero is-primary">
                <div class="hero-body">

                    <!-- Opciones  -->
                    <div class="level-right">
                        <a class="navbar-item tooltip" (click)="ctrl.regresar()">
                            <span class="icon fa-2x">
                                <i class="fa fa-arrow-left"> </i>
                            </span>
                            <span class="tooltiptext">Regresar</span>
                        </a>

                        <a class="navbar-item tooltip" (click)="ctrl.cargarDatos()" id="cargar_datos_actualizar" *ngIf="ctrl.id">
                            <span class="icon fa-2x">
                                <i class="fa fa-refresh"></i>
                            </span>
                            <span class="tooltiptext">Actualizar</span>
                        </a>

                        <button class="navbar-item  is-success tooltip" type="submit" [ngClass]="{'is-loading': ctrl.cargando}"
                            [disabled]="ctrl.dato.invalid" >
                            <span class="icon fa-2x has-text-success">
                                <i class="fa fa-save"> </i>
                            </span>
                            <span class="tooltiptext">Guardar</span>
                        </button>

                    </div>
                                 
                </div>
            </section>
            <div class="is-fullwidth has-text-centered" *ngIf="!ctrl.datosCargados">
                <br>
                <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
            </div>
            
            <section class="section" style="padding: 2rem 1rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">               
                
                <!-- cargar los catalogos que se requieran parametro 1 modelo donde se guarda el catalogo, parametro 2 ruta de la api -->
                <a id="catalogos" (click)="ctrl.cargarCatalogo('municipios', 'municipios', 'localidades');
                                           ctrl.cargarCatalogo('grupos', 'sisGrupo');
                                           ctrl.cargarCatalogo('tipos_medios', 'tipo-medio'); ">
                </a>
                <a id="localidades"
                                  (click)="ctrl.catalogoDependiente('localidades', 'localidades_o', ctrl.dato.controls.municipios_id.value)">
                </a>
                <div class="contenedor columns ">
                    <div class="column is-one-quarter is-hidden-mobile menu-persona">
                        <div>
                            <figure class="image is-3by2" >
                                <img *ngIf="!ctrl.subir[0]" [src]="ctrl.API_PATH+'/adjunto/usuario/'+ctrl.dato.get('foto').value" alt="Foto" />
                                <img *ngIf="ctrl.subir[0]" [src]="'data:image/jpg;base64,'+ctrl.dato.get('foto').value" alt="Foto" />
                            </figure>
                            <div align="center">
                                <strong>{{ctrl.dato.get('nombre').value}}</strong>
                                <small>{{ctrl.dato.get('email').value}}</small>
                            </div>
                            <hr>
                            <nav class="panel" *ngIf="ctrl.dato.controls.sis_usuarios_contactos.controls.length > 0">
                                <p class="panel-heading">
                                    Contactos
                                </p>
                                <div class="panel-block" *ngFor="let medio of ctrl.dato.controls.sis_usuarios_contactos.controls; let suc = index;">
                                    <span class="panel-icon" *ngIf="ctrl.tipos_medios.length > 0">
                                        <i [ngClass]="ctrl.tipos_medios[medio.value.tipos_medios_id - 1].icon"></i>
                                    </span>
                                    {{ medio.value.valor }}
                                </div>
                            </nav>
                            
                        </div>
                    </div>
                    <div class="column">

                        <div class="tabs is-boxed" style="margin-top: -10px;">

                            <!-- se crea los tab se debe definir una variable llamada tab en el .ts con un valor por default ejemplo tab=1 -->
                            <ul>
                                <li [ngClass]="{ 'is-active' : tab == 1}">
                                    <a (click)="tab=1">
                                        <span class="icon"><i class="fa fa-file"></i></span>
                                        <span>General</span>
                                    </a>
                                </li>

                                <li [ngClass]="{ 'is-active' : tab == 2}">
                                    <a (click)="tab=2">
                                        <span class="icon"><i class="fa fa-lock"></i></span>
                                        <span>Seguridad</span>
                                    </a>
                                </li>

                                <li [ngClass]="{ 'is-active' : tab == 3}">
                                    <a (click)="tab=3">
                                        <span class="icon"><i class="fa fa-book"></i></span>
                                        <span>Medios de contacto</span>
                                    </a>
                                </li>                               
                            </ul>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab != 1}">

                            <div class="field">
                                <label class="label">Nombre:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').hasError('required')}"
                                        placeholder="nombre" formControlName="nombre">
                                    <span class="icon" *ngIf="ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').hasError('required')">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Correo eléctronico:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('email').hasError('required') && ctrl.dato.get('email').hasError('required')}"
                                        placeholder="Correo eléctronico" formControlName="email">
                                    <span class="icon" *ngIf="ctrl.dato.get('email').hasError('required') && ctrl.dato.get('email').hasError('required')">
                                        <i class="fa fa-warning"></i>
                                    </span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('email').hasError('required') && ctrl.dato.get('email').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>

                            <div class="columns">

                                <div class="column is-6">
                                  <label class="label">Municipio: </label>
                                    <div class="control is-grouped has-icons-left">
        
                                        <span *ngIf="ctrl.cargando" class="tag is-primary is-large">Cargando Municipios...
                                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                                        </span>
        
                                        <div *ngIf="ctrl.municipios && !ctrl.cargando" class="control is-expanded has-icon-left">
        
                                          <span class="select" [ngClass]="{'is-danger': ctrl.dato.get('municipios_id').hasError('required')}">
                                            <select class="select" name="municipios_id" formControlName="municipios_id" (change)="ctrl.catalogoDependiente('localidades', 'localidades_o', ctrl.dato.controls.municipios_id.value)"> 
                                                <option value="">Seleccione el Municipio de la Paciente</option>                                       
                                                <option *ngFor="let item of ctrl.municipios" value="{{item.id}}">{{item.nombre}}</option>                                        
                                            </select>
                                          </span>
        
                                          <span class="icon is-small" *ngIf="!ctrl.cargando && ctrl.dato.get('municipios_id').hasError('required')">
                                            <i class="fa fa-warning"></i>
                                          </span>
            
                                          <span class="help is-danger" *ngIf="ctrl.dato.get('municipios_id').hasError('required')">
                                            Este campo es requerido.
                                          </span>
            
                                          <span class="icon is-small is-left" *ngIf="!ctrl.cargando && !ctrl.dato.get('municipios_id').hasError('required')">
                                            <i class="fa fa-globe"></i>
                                          </span>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="column is-6">
                                  <label class="label">Localidad: </label>
                                  <div class="control is-grouped has-icons-left">
        
                                    <div *ngIf="ctrl.localidades_o" class="control is-expanded has-icon-left">
        
                                      <span class="select" [ngClass]="{'is-danger': ctrl.dato.get('localidades_id').hasError('required')}">
                                        <select class="select" formControlName="localidades_id"> 
                                            <option value="">Seleccione la Localidad de la Paciente</option>                                       
                                            <option *ngFor="let item of ctrl.localidades_o" value="{{item.id}}">{{item.nombre}}</option>                                        
                                        </select>
                                      </span>
        
                                      <span class="icon is-small" *ngIf="ctrl.dato.get('localidades_id').hasError('required')">
                                          <i class="fa fa-warning"></i>
                                      </span>
        
                                      <span class="help is-danger" *ngIf="ctrl.dato.get('localidades_id').hasError('required')">
                                          Este campo es requerido.
                                      </span>
        
                                      <span class="icon is-small is-left" *ngIf="!ctrl.dato.get('localidades_id').hasError('required')">
                                          <i class="fa fa-globe"></i>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Direccion:</label>
                                        <p class="control is-expanded  has-icon has-icon-right">
                                            <input class="input" type="text" placeholder="direccion" formControlName="direccion">
                                        </p>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <div class="field">
                                        <label class="label">Num. Exterior:</label>
                                        <p class="control is-expanded  has-icon has-icon-right">
                                            <input class="input" type="text" placeholder="Num. Exterior" formControlName="numero_exterior">
                                        </p>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <div class="field">
                                        <label class="label">Num. Interior:</label>
                                        <p class="control is-expanded  has-icon has-icon-right">
                                            <input class="input" type="text" placeholder="Num. Interior" formControlName="numero_interior">
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="columns">
                                <div class="column is-6">
                                    <div class="field">
                                        <label class="label">Col. / Fracc.:</label>
                                        <p class="control is-expanded  has-icon has-icon-right">
                                            <input class="input" type="text" placeholder="Col. / Fracc." formControlName="colonia">
                                        </p>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <div class="field">
                                        <label class="label">Codigo Postal:</label>
                                        <p class="control is-expanded  has-icon has-icon-right">
                                            <input class="input" type="text" placeholder="CP" formControlName="codigo_postal">
                                        </p>
                                    </div>
                                </div>

                                <div class="column is-3">
                                    <br><br>
                                    <div class="field">
                                        <div class="b-checkbox is-primary">
                                            <input id="spam" class="styled" type="checkbox" formControlName="spam">
                                            <label for="spam">
                                                Acepta recibir primaryrmación por correo?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="columns">

                                <div class="column is-4">
                                    <div class="field">
                                        <label class="label">Ultimo acceso:</label>
                                        <p class="control is-expanded  has-icon has-icon-right">
                                            <input class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('last_login').hasError('required') && ctrl.dato.get('last_login').hasError('required')}"
                                                placeholder="Ultimo acceso" formControlName="last_login">
                                        </p>
                                    </div>
                                </div>

                                <div class="column is-4">
                                    <br><br>
                                    <div class="field">
                                        <div class="b-checkbox is-primary">
                                            <input id="activo" class="styled" type="checkbox" formControlName="activo">
                                            <label for="activo">
                                                Esta activo?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Avatar:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" placeholder="Foto" formControlName="avatar">
                                </p>
                            </div>

                            <!-- <div class="field">
                                <label class="label">foto:</label>
                                <p class="control is-expanded  has-icon has-icon-right" *ngIf="ctrl.dato.get('foto').value == ''">
                                    <input type="file" (change)="ctrl.seleccionarImagenBase64($event, ctrl.dato.controls.foto)" accept="image/x-png,image/gif,image/jpeg,image/jpg">
                                    <input foto type="hidden" formControlName="foto" >
                                </p>

                                <button type="button" class="button is-danger" (click)="ctrl.borrarImagen($event, ctrl.dato.controls.foto, 'usuario')" *ngIf="ctrl.dato.get('foto').value != ''">
                                    
                                        <span class="icon">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                        &nbsp;  Eliminar la foto
                                    
                                </button>
                                
                            </div> -->
                            
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab != 2}">
                                
                            <br>
                            <div class="field">
                                <div class="b-checkbox is-primary">
                                    <input id="cambiarPassword" class="styled" type="checkbox" formControlName="cambiarPassword" (click)="toggleCambiarPassword()">
                                    <label for="cambiarPassword">
                                        Cambiar contraseña
                                    </label>
                                </div>
                            </div>
                            <hr>

                            <div class="field">
                                <label class="label">Usuario:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" placeholder="Usuario" formControlName="username">
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Contraseña:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" placeholder="Contraseña" formControlName="password">
                                </p>
                            </div>

                            <div class="field">
                                <label class="label">Repetir Contraseña:</label>
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <input class="input" type="text" placeholder="Repetir Contraseña" formControlName="confirmarPassword">
                                </p>
                            </div>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab != 3}">
                                                    
                            <table class="table is-striped is-fullwidth" *ngIf="ctrl.dato.get('sis_usuarios_contactos').length > 0">
                                <thead>
                                    <tr>
                                        <th hide-sm>ID</th>
                                        <th>Medio de contacto</th>
                                        <th>Valor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody formArrayName="sis_usuarios_contactos">
                                    <tr *ngFor="let medio of ctrl.dato.controls.sis_usuarios_contactos.controls; let suc=index" [formGroupName]="suc">
                                        <td>{{ suc + 1 }}</td>
                                        <td>
                                            <div class="select">
                                                <select class="select" name="tipos_medios_id" formControlName="tipos_medios_id">
                                                    <option *ngFor="let val of ctrl.tipos_medios" value="{{val.id}}" >{{ val.nombre }}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="control has-icon">
                                                <input class="input" formControlName="valor" placeholder="Valor"  [ngClass]="{'is-danger': !ctrl.dato.controls.sis_usuarios_contactos.controls[suc].controls.valor.valid}" type="text"  >
                                                <span class="icon">
                                                    <i [ngClass]="ctrl.tipos_medios[ctrl.dato.controls.sis_usuarios_contactos.controls[suc].controls.tipos_medios_id.value - 1].icon"></i>
                                                </span>
                                            </p>
                                            
                                        </td>
                                        <td align="right"><button type="button" class="button is-danger" (click)="ctrl.quitar_form_array(ctrl.dato.controls.sis_usuarios_contactos, suc)"><i class="fa fa-trash-o"></i></button></td>
                                    </tr>
                                </tbody>                                
                            </table>
                            
                            <div style="background: rgba(127, 220, 42, 0.62); width:100%; padding: 10px; margin-top: -20px;">
                                <button type="button" class="button is-default" (click)="ctrl.agregar_form_array(ctrl.dato.controls.sis_usuarios_contactos, form_sis_usuarios_contactos)"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!-- fin formulario -->
            </section>
            
  
        </form>  
        </div>
    </div>
</div>
