<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<listar #ctrl URL="articulos" titulo="Artículos / Catalogo"></listar>

<!-- Menu principal  menutitulo="titulo del modulo en el que estamos con el nombre como se encuentra en enviroment" menuactual="nombre del hub donde estamos como se especifico en el routing"-->
<sistema-menu menutitulo="Catalogo" menuactual="catalogo"></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda menutitulo="titulo del modulo enviroment" -->
        <sistema-menu-aside menuactual="Catalogo"></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">
            
            <!-- Opciones y busqueda -->
            <tabla-opciones [ctrl]="ctrl"></tabla-opciones>
                
            <span style="overflow-y:auto; display:block; overflow-x:hidden;" [style.maxHeight.px]="tamano-285">
                    
                <!--Tabla -->
                <table class="table is-striped is-fullwidth" *ngIf="ctrl.tipo_grid && !ctrl.cargando " style="overflow:auto;" [style.maxHeight.px]="tamano-285">
                    <thead>
                        <tr>
                            <th><abbr>Clave</abbr></th>
                            <th>Artículo</th>
                            <th>Fraccionable</th>
                            <th>Costo</th>
                            <th>Precio</th>
                            <th>Existencia</th>
                            <th width="1%">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ctrl.dato; let i=index">
                            <td style="vertical-align: middle;"><strong>{{ item.clave }}</strong></td>
                            <td style="vertical-align: middle;"><strong>{{ item.nombre }}</strong> <small>{{ item.descripcion }}</small>
                                <span class="tag is-success"><i class="fa fa-bookmark"></i> &nbsp; {{ item.categorias ? item.categorias.nombre : 'Sin categoria' }}</span>
                                <span class="tag is-danger">&nbsp; {{ item.cantidad_x_envase }} {{ item.unidades_medidas ? item.unidades_medidas.nombre : 'S/N' }} por {{ item.presentaciones ? item.presentaciones.nombre : 'Sin presentación'}}</span>
                            </td>
                            <td style="vertical-align: middle;"><span *ngIf="item.es_fraccionable==0" class="tag is-info"><i class="fa fa-cube"></i> </span> <span *ngIf="item.es_fraccionable==1" class="tag is-warning"><i class="fa fa-cubes"></i> </span> </td>
                            <td style="vertical-align: middle;">{{ item.costos.length>0 ? item.costos[0].precio_con_impuestos : 'Sin Costo' }}</td>
                            <td style="vertical-align: middle;">{{ item.articulos_precios.length>0 ? item.articulos_precios[0].precio : 'Sin precio' }} </td>
                            <td style="vertical-align: middle;">{{item.existencia}}</td>
                            <td style="vertical-align: middle;">
                                <!-- acciones -->
                                <a (click)="abrirModal('ajuste_inventario')" title="Ajuste de Inventario" class="button is-success " *ngIf="permisos.indexOf('ArticuloController.ajuste') > -1 && item.stock_inicial > 0">
                                    <span class="icon">
                                        <i class="fa fa-list-alt"></i>
                                    </span> 
                                </a> 
                                &nbsp;
                                <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl" class="level-left"></tabla-acciones>
                            </td>

                        </tr>
                        <tr *ngIf="ctrl.dato.length == 0">
                            <td colspan="7" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                        </tr>
                    </tbody>

                </table>

                <!--Lista -->
                <span *ngIf="!ctrl.tipo_grid && !ctrl.cargando">
                    <div class="box" *ngFor="let item of ctrl.dato; let i=index" style="margin-bottom:0.1rem;" [style.background]="i%2 == 0 ? '#fafafa' : '#ffffff'">
                        <article class="media">
                            <div class="media-left">
                            <figure class="image is-64x64">
                                <img [src]="item.articulos_imagenes.length?ctrl.API_PATH+'/adjunto/articulos/'+item.articulos_imagenes[0].imagen:'./assets/128x128.png'" alt="Image">
                            </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong style="font-size:12pt">{{item.nombre}}</strong> <small>( {{ item.unidades_medidas ? item.unidades_medidas.nombre : 'S/N' }} )</small> 
                                        <small class="tag is-danger is-large"><span class="icon"><i class="fa fa-credit-card"></i></span> &nbsp; {{ item.costos.length>0 ? 'Costo: '+item.costos[0].precio_con_impuestos : 'Sin Costo' }}</small>   
                                        <small class="tag is-success is-large"><span class="icon"><i class="fa fa-money"></i></span> &nbsp; {{ item.articulos_precios.length>0 ? 'Precio: '+item.articulos_precios[0].precio : 'Sin precio' }} </small>   
                                        <small class="tag is-light is-large"><span class="icon"><i class="fa fa-cubes"></i></span> &nbsp; Existencia: {{item.existencia}}</small>                                        
                                    </p>
                                    <strong class="tag is-dark is-medium"><span class="icon"><i class="fa fa-barcode"></i></span> &nbsp; {{ item.codigo_barras }}</strong>
                                    <strong class="tag is-warning is-medium">Clave: {{ item.clave }}</strong>
                                    <strong class="tag is-primary is-medium">Categoria: {{ item.categorias ? item.categorias.nombre : 'Sin categoria' }}</strong>
                                    <strong class="tag is-primary is-medium">Presentación: {{ item.presentaciones ? item.presentaciones.nombre : 'Sin presentación' }}</strong>                                    
                                </div>
                                <nav class="level is-mobile" style="float:right">
                                    <div class="level-left">

                                        <!-- acciones -->                                       
                                        <a (click)="abrirModal('ajuste_inventario')" title="Ajuste de Inventario" class="button is-success " *ngIf="permisos.indexOf('ArticuloController.ajuste') > -1 && item.stock_inicial > 0">
                                            <span class="icon">
                                                <i class="fa fa-list-alt"></i>
                                            </span> 
                                        </a> 
                                        &nbsp;
                                        <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl" class="level-left"></tabla-acciones>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </span>
            </span>
            <!-- Paginación para la lista  -->
            <paginacion [ctrl]="ctrl"></paginacion>

        </div>
    </div>
</div>

<div class="modal" id="ajuste_inventario">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 60%;">
        <header class="modal-card-head">
            <p class="modal-card-title" >
               <span class="icon">
                    <i class="fa fa-list-alt"></i>
                </span>  Ajuste de invetario
            </p>
            <button type="button" class="delete" (click)="cancelarModal('ajuste_inventario')"></button>
        </header>
        <section class="modal-card-body">
        </section>
        <footer class="modal-card-foot">                          
            <a class="button is-success" (click)="guardar(1)">Guardar</a>
            <a class="button" (click)="cancelarModal('ajuste_inventario')">Cancelar</a>        
        </footer>
    </div>            
</div>