<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl titulo="Reporte / Resumén / Venta"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>
<div style="height:50px;"></div>
    <div class="contenedor columns " style="height:100%; ">
        <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

            <!-- Menu izquierda del modulo enviroment" -->
            <sistema-menu-aside ></sistema-menu-aside>
        </div>
        <div class="column" style="padding:1em;">
            <div style="background: #FFF; border-radius: 1em; ">

                <!-- cargar los catalogos que se requieran parametro 1 modelo donde se guarda el catalogo, parametro 2 ruta de la api -->
                <a id="catalogos" (click)="ctrl.cargarCatalogo('tipos_movimientos', 'tipo-movimiento');"></a>

                <!-- Opciones y busqueda -->
                <filtros-reportes  [ctrl]="ctrl"></filtros-reportes>
                
                <div id="imprimir">                    
                    <!--Tabla -->
                    <!--<table id class="table is-bordered is-striped is-narrow is-fullwidth" *ngIf="!ctrl.cargando " style="overflow:auto;" [style.maxHeight.px]="tamano-285">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>CB / Nombre</th>
                                <th>Categoría</th>
                                <th>Cant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ctrl.articulos; let i=index">
                                <th style="vertical-align: middle; font-size:11px;">{{ item.clave }}</th>
                                <td style="vertical-align: middle; font-size:11px; text-align:left;"><strong>{{item.codigo_barras}} </strong> / {{ item.nombre }}</td>
                                <td style="vertical-align: middle; font-size:11px; text-align:left;">{{ item.categorias.nombre }} </td>
                                <td style="vertical-align: middle;"> ____ </td>
                            </tr>
                            <tr *ngIf="ctrl.articulos.length == 0">
                                <td colspan="4" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                            </tr>
                        </tbody>

                    </table>-->
                </div>
            </div>
        </div>
    </div>