<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="reporte-venta" titulo="R / V / R" [dato]="dato" ></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>


<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()" >
                <section class="hero is-primary">
                    <div class="hero-body">

                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>                                        
                    </div>
                </section>
                
                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">                    
                    
                    <div class="columns">
                        <div class="column is-1" style="text-align:center">
                            <div class="b-checkbox is-circular is-info">
                                <input value="1" formControlName="tipo_rango" class="styled" type="radio">
                                <label for="rango_definido"> 
                                </label>
                            </div>
                        </div>
                        <div class="column is-8">
                            <div class="select">
                                <select class="select" style="width:100%;" formControlName="rango_fecha" >
                                    <option *ngFor="let val of rangos_fecha" value="{{val.id}}" >{{ val.nombre }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-1" style="text-align:center">
                            <div class="b-checkbox is-circular is-info">
                                <input value="2" formControlName="tipo_rango"  class="styled" type="radio">
                                <label for="rango_dinamico">
                                </label>
                            </div>
                        </div>
                        <div class="column is-4">
                            <input class="input is-medium" formControlName="fecha_inicial" style="width:100%;" type="text" placeholder="2017-09-28">
                        </div>
                        <div class="column is-4">
                            <input class="input is-medium" formControlName="fecha_final" style="width:100%;" type="text" placeholder="2017-09-29">
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column is-5">
                            <div class="select">
                                <select class="select" style="width:100%;" formControlName="tipo_venta" >
                                    <option selected value="TODO">Todas las ventas</option>
                                    <option *ngFor="let val of ctrl.tipos_movimientos" value="{{val.id}}" >{{ val.nombre }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="column is-4">
                            <button class="button is-success is-medium tooltip" type="button" (click)="ctrl.cargarCatalogo('reporte_venta','reporte-venta?tipo_rango='+tipo_rango+'&rango_fecha='+rango_fecha+'&fecha_inicial='+fecha_inicial+'&fecha_final='+fecha_final)">Buscar</button>
                        </div>
                    </div>
                    
                </section>
            </form>
        </div>
    </div>
</div>