
<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- cargar los catalogos que se requieran parametro 1 modelo donde se guarda el catalogo, parametro 2 ruta de la api -->

            <a id="catalogos" (click)="cargarCatalogo('e_incidencias', 'estados-incidencias');
                                       cargarCatalogo('c_triage', 'triage-colores');
                                       cargarCatalogo('turn', 'turnos');
                                       cargarCatalogo('tipos_altas', 'tipos-altas');
                                       cargarCatalogo('estados_pacientes', 'estados-pacientes'); 
            
            "></a>

            <section class="hero">
                    
                    <div class="hero-body" style="position:relative;">
                
                        <div class="field is-grouped" style="position:absolute; top:0.5em; right:0em;">
                
                            <p class="control">
                                <a class="button is-{{busquedaActivada ? 'dark' : 'primary'}} tooltip"  (click)="imprimir_pdf(datos);">
                                    <span class="icon ">
                                        <i class="fa fa-print"></i>
                                    </span>
                                    <span class="tooltiptext">Imprimir</span>
                                </a>
                            </p>
                
                            <p class="control" *ngIf="busquedaActivada">
                                <a class="button is-dark tooltip"  (click)="listarBusqueda(searchBox.value,1)" id="cargar_datos_actualizar">
                                    <span class="icon ">
                                        <i class="fa fa-refresh"></i>
                                    </span>
                                    <span class="tooltiptext">Actualizar</span>
                                </a>
                            </p>
                
                        </div>
                
                        <div class="container is-fluid">

                            <div class="columns">
                                <div class="column is-2">
                                    <label>Desde:</label>
                                    <input class="input" ngui-datetime-picker [(ngModel)]="fecha_inicio" style="width:100%;" type="text" placeholder="AAA-MM-DD">
                                </div>
                                <div class="column is-2">
                                    <label>Hasta:</label>
                                    <input class="input" ngui-datetime-picker [(ngModel)]="fecha_fin" style="width:100%;" type="text" placeholder="AAA-MM-DD">
                                </div>
                                <div class="column is-4">
                                    <label>Unidad Médica:</label>
                                    <input ngui-auto-complete
                                        [source]="clues_term"
                                        [list-formatter]="autocompleListFormatter"
                                        [value-formatter]="valorFormato_clue"
                                        id="clues" name="clues" [(ngModel)]="clues" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                        (valueChanged)="select_item_autocomplete(clues, 'clues', $event, false);"                                                         
                                        min-chars="4" class="input" type="text"
                                        placeholder="(Clues):">
                                
                                </div>
                            </div>

                            <div class="columns">

                                    <div class="column is-4">
                                            <label>Unidad Médica de Origen:</label>
                                            <input ngui-auto-complete
                                                [source]="clues_term"
                                                [list-formatter]="autocompleListFormatter"
                                                [value-formatter]="valorFormato_clue"
                                                id="referencia_origen" name="referencia_origen" [(ngModel)]="referencia_origen" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                                (valueChanged)="select_item_autocomplete(referencia_origen, 'clues', $event, false);"                                                         
                                                min-chars="4" class="input" type="text"
                                                placeholder="(Origen):">
                                        
                                    </div>
                                    
                                    <div class="column is-4">
                                            <label>Unidad Médica de Destino:</label>
                                            <input ngui-auto-complete
                                                [source]="clues_term"
                                                [list-formatter]="autocompleListFormatter"
                                                [value-formatter]="valorFormato_clue"
                                                id="referencia_destino" name="referencia_destino" [(ngModel)]="referencia_destino" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                                (valueChanged)="select_item_autocomplete(referencia_destino, 'clues', $event, false);"                                                         
                                                min-chars="4" class="input" type="text"
                                                placeholder="(Destino):">
                                        
                                    </div>

                            </div>
                
                            <div class="control">
            

                                    <div class="columns">

                                        <div class="column is-2">
                                                <label>Estado de Incidencia:</label>
                                                <div class="select">
                                                    <select class="select" [(ngModel)]="edo_incidencia" name="edo_incidencia" style="width:100%;" id="edo_incidencia" >
                                                        <option value="">Todos</option>
                                                        <option *ngFor="let ei of e_incidencias" value="{{ei.id}}" >{{ ei.nombre }}</option>
                                                    </select>
                                                </div>
                                        </div>

                                        <div class="column is-2">
                                                <label>Estado del Paciente:</label>
                                                <div class="select">
                                                    <select class="select" [(ngModel)]="edo_paciente" name="edo_paciente" style="width:100%;" id="edo_paciente" >
                                                        <option value="">Todos</option>
                                                        <option *ngFor="let ep of estados_pacientes" value="{{ep.id}}" >{{ ep.nombre }}</option>
                                                    </select>
                                                </div>
                                        </div>
                            
                                        <div class="column is-2">
                                                <label>Color de Triage:</label>
                                                <div class="select">
                                                    <select class="select" [(ngModel)]="color_triage" name="color_triage" style="width:100%;" id="color_triage" >
                                                        <option value="">Todos</option>
                                                        <option *ngFor="let ct of c_triage" value="{{ct.id}}" >{{ ct.nombre }}</option>
                                                    </select>
                                                </div>
                                        </div>

                                        <div class="column is-2">
                                                <label>Turno en que se Realizo:</label>
                                                <div class="select">
                                                    <select class="select" [(ngModel)]="turno" name="turno" style="width:100%;" id="turno" >
                                                        <option value="">Todos</option>
                                                        <option *ngFor="let tur of turn" value="{{tur.id}}" >{{ tur.nombre }}</option>
                                                    </select>
                                                </div>
                                        </div>

                                        <div class="column is-2">
                                                <label>Tipo de Alta del Paciente:</label>
                                                <div class="select">
                                                    <select class="select" [(ngModel)]="tipo_alta" name="tipo_alta" style="width:100%;" id="tipo_alta" >
                                                        <option value="">Todos</option>
                                                        <option *ngFor="let ta of tipos_altas" value="{{ta.id}}" >{{ ta.nombre }}</option>
                                                    </select>
                                                </div>
                                        </div>
                                        

                                    </div>

                                    <div class="columns">
                                        <div class="column is-10">
                                            <label>Subcategorias CIE-10:</label>
                                            <input ngui-auto-complete [source]="cie10_term"
                                                [list-formatter]="autocompleFormatoSubcategoriasCIE10"
                                                [value-formatter]="valorFormato_SubcategoriasCIE10"
                                                id="cie10" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                                [(ngModel)]="cie10"
                                                (valueChanged)="select_item_autocomplete(cie10, 'categorias_cie10_id', $event, false);"
                                                min-chars="1" class="input" type="text"
                                                placeholder="Subcategorias CIE-10">
                                        </div>
                                    </div>
                        

                                    <div class="columns">

                                        <div class="column is-4">
                                            <button class="button is-success is-medium tooltip" type="button"
                                            (click)="lista_incidencias(url);">
                                            Filtrar</button>
                                        </div>

                                        <div class="column is-4">
                                            <button class="button is-success is-medium tooltip" type="button"
                                            (click)="limpiar_campos_busqueda();">
                                            Limpiar</button>
                                        </div>

                                    </div>

                                
                            </div>
                        </div>
                
                    </div>
                </section>
                
                <div class="is-fullwidth has-text-centered" *ngIf="cargando">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
                    <br>
                    <br>
                </div>

            
            
            <div id="imprimir"  style="overflow:auto;" [style.maxHeight.px]="tamano-180">                    
                <!--Tabla -->

                <table  class="table is-striped is-fullwidth" *ngIf="!cargando " >
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Estados de Incidencia</th>
                            <th>Colores Triage</th>
                            <th>Estado del Paciente</th>
                            <th>Motivo del Ingreso</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of datos; let i=index">
                            <th style="vertical-align: middle;">{{ item.id }}</th>
                            <td style="vertical-align: middle;">{{item.estados_incidencias.nombre}}</td>
                            <td style="vertical-align: middle;"><div class="tag is-medium" [ngClass]="{'is-success' : item.movimientos_incidencias[item.movimientos_incidencias.length -1].triage_colores.nombre == 'Verde', 'is-warning' : item.movimientos_incidencias[item.movimientos_incidencias.length -1].triage_colores.nombre == 'Amarillo', 'is-danger' : item.movimientos_incidencias[item.movimientos_incidencias.length -1].triage_colores.nombre == 'Rojo'}"><strong>{{ item.movimientos_incidencias[item.movimientos_incidencias.length -1].triage_colores.nombre }}</strong></div></td>
                            <td style="vertical-align: middle;">{{item.movimientos_incidencias[0].estados_pacientes.nombre}}</td>
                            <td style="vertical-align: middle;">{{item.motivo_ingreso}}</td>
                        </tr>
                         <tr *ngIf="datos.length == 0">
                            <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                        </tr> 
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>