<section class="hero is-primary">
    <div class="hero-head">
        <nav class="navbar">
            <div class="navbar-brand is-flex-desktop-only">

                <a class="navbar-item" routerLink="/{{menuactual}}" routerLinkActive="active">
                    <span class="icon fa-2x">
                        <i class="{{menuicono}}"></i>
                    </span> &nbsp;&nbsp;
                    <h1 class="title">{{menutitulo}}</h1>
                </a>

                <span class="navbar-burger burger" [ngClass]="{'is-active': activar}" data-target="navbarMenuHeroA" (click)="activar = !activar">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>

            </div>

            <div id="navbarMenuHeroA" class="navbar-menu " [ngClass]="{'is-active': activar}" >
                <div class="navbar-end is-flex-desktop-only">

                    <a class="navbar-item tooltip is-hidden-mobile" (click)="abrirModalDirectorioApoyos()">
                        <span class="icon fa-2x">
                            <i class="fa fa-handshake-o"></i>
                        </span>
                        <span class="tooltiptext">Directorio de Apoyos</span>
                    </a>

                    <a class="navbar-item is-hidden-mobile">
                        <span class="nav-item"> 
                                {{clues.clues}}   &nbsp;
                            <span class="icon">
                                <i class="fa fa-caret-right"></i>
                            </span>
                            &nbsp;{{clues.nombre }}       
                        </span>
                    </a>

                    <a class="navbar-item tooltip" id="cambiar_clues" (click)="toggleCambiarclues()">
                        <span class="icon fa-2x">
                            <i class="fa fa-hospital-o"></i>
                        </span>
                        <span class="tooltiptext">Cambiar de Clues</span>
                    </a>

                    <a class="navbar-item tooltip">
                        <notificacion-pusher></notificacion-pusher>
                    </a>

                    <a class="navbar-item is-hidden-tablet tooltip" (click)="toggleMenuAside()">
                        <span class="icon fa-2x">
                            <i class="fa fa-navicon"></i>
                        </span>
                        <span class="tooltiptext">Menú Opciones</span>
                    </a>
                    <a class="navbar-item tooltip" (click)="hub.toggle()">
                        <span class="icon fa-2x">
                            <i class="fa fa-th"></i>
                        </span>
                        <span class="tooltiptext">Menú Modulos</span>
                    </a>                

                    <a class="navbar-item is-hidden-mobile tooltip" (click)="perfil.toggle()">
                        
                        <figure class="image" style="width:26px;">
                            <img src="{{ usuario.avatar }}" alt="Image" class="profile">
                        </figure>
                        &nbsp;
                        <span class="is-hidden-mobile">{{ usuario.nombre }} {{ usuario.apellidos }}</span>
                        <span class="tooltiptext">Perfil</span>
                    </a>
                    <a class="navbar-item is-hidden-tablet tooltip" (click)="perfil.toggle()">
                        
                        <figure class="image" style="width:26px;">
                            <img src="{{ usuario.avatar }}" alt="Image" class="profile">
                        </figure>
                        <span class="tooltiptext">Perfil</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</section>

<app-hub #hub></app-hub>
<app-perfil #perfil></app-perfil>


<div class="modal" [ngClass]="{'is-active': mostrarMenuAside}">
  <div class="modal-background" (click)="toggleMenuAside()"></div>
  <div class="modal-content">
    <div class="card" style="width: 100%">
        <div class="card-content">
            <sistema-menu-aside ></sistema-menu-aside>
        </div>
    </div>
  </div>
  <button class="modal-close" (click)="toggleMenuAside()"></button>
</div>


<div class="modal" [ngClass]="{'is-active': mostrarCambiarclues}">
  <div class="modal-background" (click)="toggleCambiarclues()"></div>
  <div class="modal-content">
    <div class="card" style="width: 100%">
        <div class="card-content">
            <h1 style="font-size: 3em;">Cambiar clues</h1>
            <progress class="progress" value="100" max="100"></progress>
            <div class="notification is-warning" *ngIf="mensaje_cambiar_clues != ''">
                {{mensaje_cambiar_clues}}
            </div>
            
            <ul class="menu-list" style="font-size: 1.3em;">
                <li *ngFor="let val of usuario_clues; let i = index;" style="margin:2px;">
                    <a class="is-active" (click)="cambiar_clues(val)">
                        <div class="b-checkbox is-info ">
                            <input id="clues{{val.clues}}" name="clues" class="styled" type="radio" [checked]="clues == val.clues || mostrar[val.clues]">
                            <label for="clues{{val.clues}}">
                                {{ val.nombre }}
                            </label>                            
                        </div>
                    </a>

                    
                </li>
            </ul>
        </div>
    </div>
  </div>
  <button class="modal-close" (click)="toggleCambiarclues()"></button>
</div>

<div class="modal" id="directorio_apoyos">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 70%; height: 70%">
      <header class="modal-card-head">
        <p class="modal-card-title">Directorio de Apoyos</p>
        <button class="delete" (click)="cerrarModalDirectorioApoyos()"></button>
      </header>
      <section class="modal-card-body">
  
        <div class="media-content">
          <div class="content is-center">

            <!--Tabla -->
            <table class="table is-striped is-fullwidth" *ngIf="!cargando" style="overflow:auto;">
                    <thead>
                        <tr>
                            <th>Institución</th>
                            <th>Dirección</th>
                            <th>Responsable</th>
                            <th>Teléfono</th>                            
                            <th>Apoyos</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of datos; let i=index">
                            <td style="vertical-align: middle;">
                                <span class="tag is-primary is-medium"><i class="fa fa-building-o"></i> &nbsp; {{item.institucion}}</span> 
                            </td>
                            <td style="vertical-align: middle;">{{item.direccion}}</td>
                            <td style="vertical-align: middle;">{{item.responsable}}</td>
                            <td style="vertical-align: middle;">
                                <span class="tag is-medium"><i class="fa fa-phone"></i> &nbsp; {{item.telefono}}</span> 
                            </td>
                            
                            <td style="vertical-align: middle;">
                                <span *ngFor="let apoyos of item.apoyos" class="tag is-success is-medium"><i class="fa fa-check"></i> &nbsp; {{ apoyos.nombre }}</span>
                            </td>

                        </tr>
                        <tr *ngIf="datos.length == 0">
                            <td colspan="5" style="vertical-align: middle; color:#888;">El Directorio de Apoyos está vacío.</td>
                        </tr>
                    </tbody>

                </table>
 
  
          </div>
        </div>
  
      </section>
    </div>
  </div>
