<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<listar #ctrl URL="incidencias?clues={{usuario.clues}}&edo_incidencia={{edo_incidencia}}" titulo="Incidencias / Transacciones" ></listar>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>
<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">
            
            <!-- Opciones y busqueda -->
            <tabla-opciones [ctrl]="ctrl"></tabla-opciones>

            <div class="field is-grouped">
                    <div class="control is-expanded" *ngIf="!ctrl.cargando && ctrl.dato">
                        <div class="field">
                            <label class="title is-small">Estados de Incidencia:</label>
                            <div class="select is-medium ">
                                <select class="select is-medium" [(ngModel)]="edo_incidencia">
                                    <option value="">Todos</option>
                                    <option *ngFor="let val of ctrl.dato[ctrl.dato.length-1].estados_incidencias" value="{{val.id}}">{{ val.nombre }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
            <span style="overflow:auto; display:block" [style.maxHeight.px]="tamano-285">
                    
                <!--Tabla -->
                <table class="table is-bordered is-striped is-narrow is-fullwidth" *ngIf="ctrl.tipo_grid && !ctrl.cargando " style="overflow:auto;" [style.maxHeight.px]="tamano-285">
                    <thead>
                        <tr>
                            <th>N° Folio</th>
                            <th>Paciente</th>
                            <th>Triage</th>
                            <th>Antiguedad</th>
                            <th>Seguimiento</th>
                            <th style="text-align:center; width: 20%;">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of ctrl.dato; let i=index">
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align:center;">{{ item.id }}</td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align:center;"><div class="tag" *ngFor="let val of item.pacientes">{{ val.personas.nombre }} {{ val.personas.paterno }} {{ val.personas.materno }}</div></td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align:center;"><div class="tag" [ngClass]="{'is-success' : item.movimientos_incidencias[0].triage_colores.nombre == 'Verde', 'is-warning' : item.movimientos_incidencias[0].triage_colores.nombre == 'Amarillo', 'is-danger' : item.movimientos_incidencias[0].triage_colores.nombre == 'Rojo'}">{{ item.movimientos_incidencias[0].triage_colores.nombre }}</div></td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align:center;">{{ item.antiguedad }}</td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle; text-align:center;">
                                
                                    <a class="is-danger" (click)="download($event, item.id)"><span class="icon"><i class="fa fa-file-pdf-o"></i></span></a>
                                    
                                    <a class="is-danger" routerLink="/transacciones/seguimiento/editar/{{item.id}}"><span class="icon"><i class="fa fa-exchange"></i></span></a>

                            </td>

                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;" class="has-text-centered">
                                <!-- acciones -->
                                <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl"></tabla-acciones>
                            </td>

                        </tr>
                        <tr *ngIf="ctrl.dato.length == 0">
                            <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                        </tr>
                    </tbody>

                </table>

                <!--Lista -->
                <span *ngIf="!ctrl.tipo_grid && !ctrl.cargando">
                    <div class="box" *ngFor="let item of ctrl.dato; let i=index" style="margin-bottom:0.1rem;" [style.background]="i%2 == 0 ? '#fafafa' : '#ffffff'">
                        <article class="media">
                            <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="./assets/128x128.png" alt="Image">
                            </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong class="tag is-medium" *ngFor="let val of item.pacientes">N° Foliio: {{item.id}}</strong>
                                        <br>
                                        <strong class="tag" *ngFor="let val of item.pacientes"> Nombre: {{ val.personas.nombre }} </strong>
                                        <strong class="tag" [ngClass]="{'is-success' : item.movimientos_incidencias[0].triage_colores.nombre == 'Verde', 'is-warning' : item.movimientos_incidencias[0].triage_colores.nombre == 'Amarillo', 'is-danger' : item.movimientos_incidencias[0].triage_colores.nombre == 'Rojo'}"> Triage: {{ item.movimientos_incidencias[0].triage_colores.nombre }}</strong>
                                        <br>
                                        <strong> Antiguedad: {{ item.antiguedad }}</strong>

                                    </p>
                                </div>
                                <nav class="level is-mobile" style="float:right">
                                    <div class="level-left">


                                            <a class="is-danger" (click)="download($event, item.id)"><span class="icon"><i class="fa fa-file-pdf-o"></i></span></a>
                                            
                                            <a class="is-danger" routerLink="/transacciones/seguimiento/editar/{{item.id}}"><span class="icon"><i class="fa fa-exchange"></i></span></a>

                                        <!-- acciones -->
                                        <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl"></tabla-acciones>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </span>
            </span>
            <!-- Paginación para la lista  -->
            <paginacion [ctrl]="ctrl"></paginacion>

        </div>
    </div>
</div>