<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<listar #ctrl URL="incidencias?clues={{clues.clues}}&edo_incidencia={{edo_incidencia}}" titulo="Incidencias / Transacciones" ></listar>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">
            
            <!-- Opciones y busqueda -->
            <section class="hero" [ngClass]=" {'is-dark': ctrl.busquedaActivada, 'is-primary': !ctrl.busquedaActivada } ">
                <div class="hero-body">
                    <nav class="level ">
                        <!-- Left side -->
                        <div class="level-left ">
                            <div class="level-item">
                                <p class="title">
                                    <span class="icon is-medium">
                                        <i class="{{icono}}"></i>
                                    </span> {{modulo_actual}}
                                </p>
                            </div>                
                        </div>
            
                        <!-- Right side -->
                        <div class="level-right ">
                            
                            <div class="level-item">
                                <div class="field">
                                    <label>Buscar por Paciente:</label>
                                    <div class="control has-icons-left is-expanded">
                                        <input type="text" class="input is-flat is-medium" placeholder="Buscar" #searchBox id="search-box" (keyup)="ctrl.buscar(searchBox.value)">
                                        <span class="icon is-medium is-left">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="level-item" *ngIf="ctrl.dato.estados_incidencias != ''">
                                <a (click)="ctrl.mostrarLista(1)" id="rebuscar"></a>
                                <div class="control is-expanded" *ngIf="!ctrl.cargando && ctrl.dato && !ctrl.busquedaActivada" >
                                    <div class="field">
                                        <label>Filtrar por Estado de Incidencia:</label>
                                        <div class="select is-medium" >
                                            <select class="select is-medium" [(ngModel)]="edo_incidencia" #searchBox id="search-box" (change)="cambiar_busqueda()">
                                                <option  value="">Todos</option>
                                                <option *ngFor="let val of ctrl.dato[ctrl.dato.length-1].estados_incidencias" value="{{val.id}}"  >{{ val.nombre }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <a class="navbar-item tooltip" (click)="ctrl.listar(1)" id="cargar_datos_actualizar" *ngIf="!ctrl.busquedaActivada">
                                <span class="icon fa-2x">
                                    <i class="fa fa-refresh"></i>
                                </span>
                                <span class="tooltiptext">Actualizar</span>
                            </a>
            
                            <a class="navbar-item tooltip" (click)="ctrl.listarBusqueda(searchBox.value,1)" id="cargar_datos_actualizar" *ngIf="ctrl.busquedaActivada">
                                <span class="icon fa-2x">
                                    <i class="fa fa-refresh"></i>
                                </span>
                                <span class="tooltiptext">Actualizar</span>
                            </a>
            
                            <a class="navbar-item tooltip" routerLink="{{url_nuevo}}" *ngIf="permisos.indexOf(controlador + '.store') > -1 || permisos.indexOf( 'Sis' + controlador + '.store') > -1">
                                <span class="icon fa-2x">
                                    <i class="fa fa-file"></i>
                                </span>
                                <span class="tooltiptext">Nuevo</span>
                            </a>
            
            
                            <a class="navbar-item  is-dark tooltip" *ngIf="ctrl.busquedaActivada" (click)="ctrl.cerrar_busqueda(searchBox)">
                                <span class="icon fa-2x">
                                    <i class="fa fa-close"></i>
                                </span>
                                <span class="tooltiptext">Cerrar Busqueda</span>
                            </a>
                        </div>
                    </nav>
                </div>
            </section>
                
                <div class="is-fullwidth has-text-centered" *ngIf="ctrl.cargando">
                    <br>
                    <span class="tag is-primary is-large "><span class="icon"><i class="fa fa-refresh fa-spin"></i></span> &nbsp;<span>Cargando...</span></span>
                    <br>
                    <br>
                </div>


            <span style="overflow-y:auto; overflow-x:hidden; display:block" [style.maxHeight.px]="tamano-285">
                    
                <!--Tabla -->
                <table class="table is-striped is-fullwidth" *ngIf="ctrl.tipo_grid && !ctrl.cargando " style="overflow:auto;">
                    <thead>
                        <tr>
                            <th>N° Folio</th>
                            <th>Paciente</th>
                            <th>Triage</th>
                            <th>Estado de Incidencia</th>
                            <th>Antiguedad</th>
                            <th width="1%">Seguimientos</th>
                            <th width="1%">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of ctrl.dato; let i=index">
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><strong>{{ item.id }}</strong></td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><div class="tag is-medium" *ngFor="let val of item.pacientes"><strong>{{ val.personas.nombre }} {{ val.personas.paterno }} {{ val.personas.materno }}</strong></div></td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><div class="tag is-medium" [ngClass]="{'is-success' : item.movimientos_incidencias[0].triage_colores.nombre == 'Verde', 'is-warning' : item.movimientos_incidencias[0].triage_colores.nombre == 'Amarillo', 'is-danger' : item.movimientos_incidencias[0].triage_colores.nombre == 'Rojo'}"><strong>{{ item.movimientos_incidencias[0].triage_colores.nombre }}</strong></div></td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><div class="tag is-medium" disabled><strong>{{ item.estados_incidencias.nombre }}</strong></div></td>
                            <td *ngIf="(i+1)<ctrl.dato.length" style="vertical-align: middle;"><strong>{{ item.antiguedad }}</strong></td>
                            <td *ngIf="(i+1)<ctrl.dato.length"  style="vertical-align: middle;">
                                <div class="level-left">
                                    <a class="navbar-item tooltip"  (click)="download($event, item.id);">
                                        <span class="icon fa-2x  has-text-danger ">
                                            <i class="fa fa-file-pdf-o"></i>
                                        </span>
                                        <span class="tooltiptext">PDF</span>
                                    </a>
                                    
                                    <a class="navbar-item tooltip" routerLink="/transacciones/seguimiento/editar/{{item.id}}">
                                        <span class="icon fa-2x has-text-info">
                                            <i class="fa fa-exchange"></i>
                                        </span>
                                        <span class="tooltiptext">Seguimiento</span>
                                    </a>
                                </div>
                            </td>

                            <td *ngIf="(i+1)<ctrl.dato.length"  style="vertical-align: middle;">
                                <!-- acciones -->
                                <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl" class="level-left"></tabla-acciones>
                            </td>

                        </tr>
                        <tr *ngIf="ctrl.dato.length == 0">
                            <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                        </tr>
                    </tbody>

                </table>

                <!--Lista -->
   
            </span>
            <!-- Paginación para la lista  -->
            <paginacion [ctrl]="ctrl"></paginacion>

        </div>
    </div>
</div>