
        <a class="navbar-item tooltip" routerLink="{{url_editar}}" *ngIf="permisos.indexOf(controlador + '.update') > -1 || permisos.indexOf( 'Sis' + controlador + '.update') > -1">
            <span class="icon fa-2x  has-text-primary">
                <i class="fa fa-edit"></i>
            </span>
            <span class="tooltiptext">Editar</span>
        </a>


        <span class="icon fa-2x" *ngIf="item.cargando">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </span>

        <a class="navbar-item tooltip" [ngClass]="{'is-loading': ctrl.imprimir_cargando && ctrl.contador == index}" *ngIf="permisos.indexOf(controlador + '.show') > -1 || permisos.indexOf( 'Sis' + controlador + '.show') > -1"
            (click)="ctrl.imprimir(item, index)">
            <span class="icon fa-2x has-text-info">
                <i class="fa fa-print"></i>
            </span>
            <span class="tooltiptext">Imprimir</span>
        </a>

        <a class="navbar-item tooltip" *ngIf="!item.cargando && (permisos.indexOf(controlador + '.destroy') > -1 || permisos.indexOf( 'Sis' + controlador + '.destroy') > -1)"
            (click)="ctrl.eliminar(item, index)">
            <span class="icon fa-2x  has-text-danger">
                <i class="fa fa-trash"></i>
            </span>
            <span class="tooltiptext">Eliminar</span>
        </a>