<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="generar-qr" titulo="QR / Sistema" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>


<div class="contenedor columns " style="height:100%; ">
    <div class="column is-2 is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
                <section class="hero is-primary">
                    <div class="hero-body">

                        <!-- Opciones  -->
                        <div class="control is-grouped" style="position:absolute; top:4.5em; right:1em;">
                            <p class="control">
                                <a class="button is-primary tooltip" (click)="ctrl.regresar()">
                                        <span class="icon ">
                                            <i class="fa fa-arrow-left"> </i>
                                        </span>
                                        <span class="tooltiptext">Regresar</span>
                                    </a>
                            </p>

                            <p class="control" *ngIf="ctrl.id">
                                <a class="button is-primary tooltip" (click)="ctrl.cargarDatos()" >
                                        <span class="icon ">
                                            <i class="fa fa-refresh"></i>
                                        </span>
                                        <span class="tooltiptext">Actualizar</span>
                                    </a>
                            </p>
                        </div>
                    </div>
                </section>

                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">

                    <h1>Escanee este codigo en la pantalla de acceso de su control de negocio movil</h1>
                    <div align="center">
                        <figure class="image" style="width:50%">
                            <img [src]="'data:image/png;base64,' + ctrl.dato.get('qr').value">
                        </figure>                    
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>