<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="niveles-cones" titulo="Niveles de CONE / Catálogo" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()" >
                <section class="hero is-primary">
                    <div class="hero-body">

                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>                                        
                    </div>
                </section>
                
                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">                    

                    <div class="control is-grouped">
                        <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Nombre</label>
                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').touched}" placeholder="Nombre" formControlName="nombre">
                            <span class="icon is-small" *ngIf="ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').touched"><i class="fa fa-warning"></i></span>
                            <span class="help is-danger" *ngIf="ctrl.dato.get('nombre').hasError('required') && ctrl.dato.get('nombre').touched">Este campo es requerido.</span>
                        </p>
                    </div>

                    <a id="catalogos" (click)="ctrl.cargarCatalogo('jurisdicciones','jurisdicciones')"> </a>
                    <div class="control is-grouped">
                        <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Jurisdicción</label>
                            <span class="select">                                  
                                    <select class="select" id="jurisdiccion_busqueda" name="jurisdiccion_busqueda" [(ngModel)]="jurisdiccion" [ngModelOptions]="{standalone: true}"  [ngClass]="{'is-warning': jurisdicciones?.length ==0 }"
                                     (change)="select_clue_autocomplete_jurisdicciones(ctrl.dato.controls.jurisdicciones.controls, jurisdiccion, ctrl.jurisdicciones, ctrl.dato.controls.clues.controls)">
                                        <option value=""></option>
                                        <option *ngFor="let val of ctrl.jurisdicciones; let i = index"  [value]="val.id">{{ val.nombre }}</option>
                                    </select>
                                </span>
                        </p>
                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.jurisdicciones.valid">Este campo es requerido.</span>
                    </div>

                    <!-- (click)="ctrl.agregar_form_array(ctrl.dato.controls.elemento_tabla.controls, form_elemento_tabla)"
                    *ngFor="let item of ctrl.dato.controls.clues; let i=index"-->

                    <div class="control is-grouped">
                        <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Unidad Medica:</label>
                            <input ngui-auto-complete [source]="clues_term" [list-formatter]="autocompleListFormatter" [value-formatter]="valorFormato_clue" id="clues_busqueda" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados." (valueChanged)="select_clue_autocomplete(ctrl.dato.controls.clues.controls, $event)" min-chars="1" class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('clues').hasError('required') && ctrl.dato.get('clues').touched}" placeholder="Unidad Medica">

                            <span class="icon is-small" *ngIf="ctrl.dato.get('clues').hasError('required') && ctrl.dato.get('clues').touched"><i class="fa fa-warning"></i></span>
                            <span class="help is-danger" *ngIf="ctrl.dato.get('clues').hasError('required') && ctrl.dato.get('clues').touched">Este campo es requerido.</span>
                        </p>
                    </div>

                    <span class="tag is-danger is-large" *ngFor="let item of ctrl.dato.controls.jurisdicciones.controls; let i = index;">
                        {{item.controls.nombre.value}}
                        <button class="delete" type="button" (click)="quitar_clues_jurisdiccion(ctrl.dato.controls.clues.controls, item, ctrl.jurisdicciones); quitar_form_array(ctrl.dato.controls.jurisdicciones.controls, i); "></button>
                    </span>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clues</th>
                                <th>Nombre</th>
                                <th>Jurisdicción</th>
                                <th style="text-align:center;">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ctrl.dato.controls.clues.controls; let i=index">
                                <th style="vertical-align: middle;">{{ item.controls.clues.value }}</th>
                                <td style="vertical-align: middle;">{{ item.controls.nombre.value }}</td>
                                <td style="vertical-align: middle;">{{ item.controls.jurisdiccion.value.nombre}}</td>
                                <td style="vertical-align: middle;" class="has-text-centered">
                                    <a id="quitar{{i}}" class="is-danger" (click)="quitar_form_array(ctrl.dato.controls.clues.controls,i)"><span class="icon"><i class="fa fa-trash-o"></i></span></a>
                                </td>
                            </tr>
                            <tr *ngIf="ctrl.dato.length == 0">
                                <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </section>
            </form>
        </div>
    </div>
</div>