<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="turnos" titulo="Turnos / Catálogo" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>


<div class="contenedor columns " style="height:100%; ">
    <div class="column is-2 is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
                <section class="hero is-primary">
                    <div class="hero-body">

                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>
                    </div>
                </section>

                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">

                    <div class="control is-grouped">
                        <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Nombre</label>
                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('nombre').hasError('required')}"
                                placeholder="Nombre" formControlName="nombre">
                            <span class="icon is-small" *ngIf="ctrl.dato.get('nombre').hasError('required')"><i class="fa fa-warning"></i></span>
                            <span class="help is-danger" *ngIf="ctrl.dato.get('nombre').hasError('required')">Este campo es requerido.</span>
                        </p>
                    </div>
                    <br>
                    <div class="control is-grouped">
                        <p class="control is-expanded  has-icon has-icon-right">
                            <label class="label">Descripción</label>

                            <ckeditor placeholder="Descripción" formControlName="descripcion" debounce="50"
                                      [config]="CkeditorConfig" [ngClass]="{'is-danger': ctrl.dato.get('descripcion').hasError('required')}">
                            </ckeditor>

                            <span class="icon is-small" *ngIf="ctrl.dato.get('descripcion').hasError('required')"><i class="fa fa-warning"></i></span>
                            <span class="help is-danger" *ngIf="ctrl.dato.get('descripcion').hasError('required')">Este campo es requerido.</span>
                        </p>
                    </div>

                </section>
            </form>
        </div>
    </div>
</div>