<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="censo-personas" titulo="Censo de Mujeres" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
    <a id="catalogos" (click)="ctrl.cargarCatalogo('municipios', 'municipios'); ctrl.cargarCatalogo('estados_embarazos', 'estados-embarazos'); ctrl.cargarCatalogo('derechohabientes', 'derechohabientes');"></a>
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
                <section class="hero is-primary">
                    <div class="hero-body">

                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>
                    </div>
                </section>

                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">

                    <div class="columns">
                            <div class="column is-3">
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <label class="label">CURP</label>
                                    <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('id').hasError('required')}"
                                        placeholder="CURP" formControlName="id">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('id').hasError('required')"><i class="fa fa-warning"></i></span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('id').hasError('required')">Este campo es requerido.</span>
                                    
                                </p>
                            </div>

                            <div class="column is-4">
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <label class="label">Nombre(s)</label>
                                    <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('nombre').hasError('required') }"
                                        placeholder="Nombre(s)" formControlName="nombre">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('nombre').hasError('required')"><i class="fa fa-warning"></i></span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('nombre').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>

                            <div class="column is-2.5">
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <label class="label is-hidden-mobile">Apellido Paterno</label>
                                    <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('paterno').hasError('required') }"
                                        placeholder="Apellido Paterno" formControlName="paterno">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('paterno').hasError('required')"><i class="fa fa-warning"></i></span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('paterno').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>
                            <div class="column is-2.5">
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <label class="label is-hidden-mobile">Apellido Materno</label>
                                    <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('materno').hasError('required')}"
                                        placeholder="Apellido Materno" formControlName="materno">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('materno').hasError('required')"><i class="fa fa-warning"></i></span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('materno').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>

                        <div class="columns">                                                                    
                            <div class="column is-6">
                                <p class="control is-expanded has-icon has-icon-right">
                                    <label class="label">Municipio: </label>
                                    <select2 name="municipios_id" [options]="ctrl.optionSelect" [value]="municipios_id" (valueChanged)="ctrl.seleccionarValorSelect2($event, ctrl.dato.controls.municipios_id, 'localidades', 'localidades'); autovalor_municipio();" [data]="ctrl.municipios"></select2>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('municipios_id').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>
        
                            <div class="column is-6">
                                <p class="control is-expanded has-icon has-icon-right">
                                    <label class="label">Localidad: </label>
                                    <select2 name="localidades_id" [options]="ctrl.optionSelect" [value]="localidades_id" (valueChanged)="ctrl.seleccionarValorSelect2($event, ctrl.dato.controls.localidades_id); autovalor_localidad();" [data]="ctrl.localidades"></select2>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('localidades_id').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-12">
                                <p class="control is-expanded  has-icon has-icon-right">
                                    <label class="label">Dirección</label>
                                    <input class="input" autofocus type="text" [ngClass]="{'is-danger': ctrl.dato.get('domicilio').hasError('required')}"
                                        placeholder="Dirección" formControlName="domicilio">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('domicilio').hasError('required')"><i class="fa fa-warning"></i></span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('domicilio').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>
                        </div>
                        
                        <div class="columns">
                            <div class="column is-6">
                                <p class="control is-expanded has-icon has-icon-right">
                                    <label class="label">Teléfono Fijo ó Celular</label>
                                    <input class="input" type="text" placeholder="Teléfono" [ngClass]="{'is-danger': ctrl.dato.get('telefono').hasError('required')}"
                                        formControlName="telefono">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('telefono').hasError('required') && ctrl.dato.get('telefono').pattern"><i class="fa fa-warning"></i></span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('telefono').hasError('required')">Este campo debe contener un <b>Número Celular ó Telénofo Fijo</b></span>
                                </p>
                            </div>

                            <div class="column is-6">
                                <p class="control is-expanded has-icon has-icon-right">
                                    <label class="label">Fecha de Nacimiento</label>
                                    <input class="input" type="date" placeholder="Fecha de Nacimiento" [ngClass]="{'is-danger': ctrl.dato.get('fecha_nacimiento').hasError('required')}"
                                        formControlName="fecha_nacimiento">
                                    <span class="icon is-small" *ngIf="ctrl.dato.get('fecha_nacimiento').hasError('required')"><i class="fa fa-warning"></i></span>
                                    <span class="help is-danger" *ngIf="ctrl.dato.get('fecha_nacimiento').hasError('required')">Este campo es requerido.</span>
                                </p>
                            </div>

                        </div>
                        


                        <div class="columns">

                            <div class="column is-6">
                                    <label class="label">Estado del Embarazo:</label>
                                <span  class="select">
                                    <p class="control is-expanded  has-icon has-icon-right">
                                        <select class="select" name="estados_embarazos_id" formControlName="estados_embarazos_id" [ngClass]="{'is-warning': estados_embarazos_id?.length ==0 }">
                                            <option *ngFor="let val of ctrl.estados_embarazos" value="{{val.id}}" >{{ val.nombre }}</option>
                                        </select>
                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.estados_embarazos_id.valid">Este campo es requerido.</span>
                                    </p>
                                </span>
                            </div>
                            
                            <div class="column is-6">
                                    <label class="label">Derechohabiente:</label>
                                <span  class="select">
                                    <p class="control is-expanded  has-icon has-icon-right">
                                        <select class="select" name="derechohabientes_id" formControlName="derechohabientes_id" [ngClass]="{'is-warning': derechohabientes_id?.length ==0 }">
                                            <option *ngFor="let val of ctrl.derechohabientes" value="{{val.id}}" >{{ val.nombre }}</option>
                                        </select>
                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.derechohabientes_id.valid">Este campo es requerido.</span>
                                    </p>
                                </span>
                            </div>

                        </div>
                </section>
            </form>
        </div>
    </div>
</div>