<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<listar #ctrl URL="clues" titulo="Clues / Catálogo"></listar>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">
            
            <!-- Opciones y busqueda -->
            <tabla-opciones [ctrl]="ctrl"></tabla-opciones>
                
            <span id="exportar_datos" style="overflow-y:auto; overflow-x: hidden; display:block;"[style.maxHeight.px]="tamano-285">
                    
                <!--Tabla -->
                <table class="table is-striped is-fullwidth" *ngIf="ctrl.tipo_grid && !ctrl.cargando " style="overflow:auto;" [style.maxHeight.px]="tamano-285">
                    <thead>
                        <tr>
                            <th>CLUE</th>
                            <th>Nombre</th>
                            <th>Jurisdicción</th>
                            <th>Institución</th>
                            <th width="1%" class="no_pdf">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of ctrl.dato; let i=index">
                            <th style="vertical-align: middle;">{{ item.clues }}</th>
                            <td style="vertical-align: middle;">{{ item.nombre }}</td>
                            <td style="vertical-align: middle;">{{ item.jurisdicciones.nombre }}</td>
                            <td style="vertical-align: middle;">{{ item.institucion }}</td>
                            <td style="vertical-align: middle;" class="has-text-centered no_pdf">
                                <!-- acciones -->
                                <a class="navbar-item tooltip" (click)="detalle_clue(item)">
                                    <span class="icon fa-2x  has-text-success">
                                            <i class="fa fa-map-marker"></i>
                                        </span>
                                    <span class="tooltiptext">Ver</span>
                                </a>

                            </td>

                        </tr>
                        <tr *ngIf="ctrl.dato.length == 0">
                            <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                        </tr>
                    </tbody>

                </table>

                <!--Lista -->
                <span *ngIf="!ctrl.tipo_grid && !ctrl.cargando">
                    <div class="box" *ngFor="let item of ctrl.dato; let i=index" style="margin-bottom:0.1rem;" [style.background]="i%2 == 0 ? '#fafafa' : '#ffffff'">
                        <article class="media">
                            <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="./assets/128x128.png" alt="Image">
                            </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong class="tag is-medium"> CLUE: {{item.clues}}  </strong>
                                        <br>
                                        <strong> Nombre: {{ item.nombre }}</strong>  
                                        <br>
                                        <strong> Institución: {{ item.institucion }}</strong>
                                        <br>
                                        <strong> Jurisdicción: {{ item.jurisdicciones.nombre }}</strong>

                                    </p>
                                </div>
                                <nav class="level is-mobile" style="float:right">
                                    <div class="level-left">
                                        <a class="navbar-item tooltip" (click)="detalle_clue(item)">
                                            <span class="icon fa-2x  has-text-success">
                                                    <i class="fa fa-map-marker"></i>
                                                </span>
                                            <span class="tooltiptext">Ver</span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </span>
            </span>
            <!-- Paginación para la lista  -->
            <paginacion [ctrl]="ctrl"></paginacion>

        </div>
    </div>
</div>



<!-- Datos de la clue y su directorio -->
<div class="modal" id="detalle">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 80%; height: 80%;">
        <header class="modal-card-head">
            <p class="modal-card-title">Datos de la Unidad Médica y Directorio</p>
            <button class="delete" (click)="cerrarModal()"></button>
        </header>
        <section class="modal-card-body hero is-primary is-bold">
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{data_clues.nombre}}</strong>
                                <br>
                            </p>
                            <p>
                                <small><strong>CLUES: </strong>{{data_clues.clues}}</small> <small> <strong>DIRECCIÓN: </strong>{{ data_clues.domicilio }} C.P {{ data_clues.codigoPostal }} </small>
                                <small> <strong> MUNICIPIO: </strong> {{ data_clues.municipios?.nombre }} - <strong> LOCALIDAD: </strong> {{ data_clues.localidad }}</small>
                                <small> <strong>JURISDICCIÓN:</strong> </small> <small>{{data_clues.jurisdiccion?.nombre}}</small>
                                
                            </p>

                            <figure>
                                <div style="height: 400px; border-radius: 15px" id="map"></div>
                            </figure>
                            <br>
                            <p>
                                <strong>DIRECTORIO</strong>
                                <br>
                            </p>

                            <blockquote class="content" *ngFor="let item of data_clues.usuarios">
                                
                                <strong>{{item.nombre}} {{item.paterno}} {{item.materno}}</strong>
                                <br>
                                <em> {{item.cargos.nombre}}</em>
                                <br><br>
                                <i class="icon fa fa-mobile"></i> {{item.celular}}
                                <br>
                                <i class="icon fa fa-envelope" href="mailto:ugus.sgis@gmail.com"></i> {{item.id}}
            
                            </blockquote>

                        </div>
                        
                    </div>
                </article>
            </div>
        </section>

    </div>
</div>