<formulario #ctrl URL="clues-configuracion" titulo="Configuración / clues" [dato]="dato"></formulario>
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    <div class="column is-2 is-hidden-mobile menu-izquierda">
        <sistema-menu-aside></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">
            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar(); ctrl.cambiar_clues();">
                <section class="hero is-primary">
                    <div class="hero-body">
                        <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>
                    </div>
                </section>

                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175" formGroupName="configuracion">

                    <!-- cargar los catalogos que se requieran parametro 1 modelo donde se guarda el catalogo, parametro 2 ruta de la api -->
                    <a id="catalogos" (click)="ctrl.cargarCatalogo('tipos_monedas', 'tipo-moneda'); ctrl.cargarCatalogo('paises', 'paises');  ctrl.cargarCatalogo('tipos_medios', 'tipo-medio'); ctrl.cargarCatalogo('tipos_redes_sociales', 'tipo-red-social');">
                        
                    </a>
               
                    <div class="tabs is-boxed">
                        <ul>
                            <li [ngClass]="{ 'is-active' : tab == 1}">
                                <a (click)="tab=1">
                                    <span class="icon ">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>General</span>
                                </a>
                            </li>

                            <li [ngClass]="{ 'is-active' : tab == 2}">
                                <a (click)="tab=2">
                                    <span class="icon ">
                                        <i class="fa fa-building"></i>
                                    </span>
                                    <span>clues</span>
                                </a>
                            </li>

                            <li [ngClass]="{ 'is-active' : tab == 3}">
                                <a (click)="tab=3">
                                    <span class="icon ">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <span>Contacto</span>
                                </a>
                            </li>

                            <li [ngClass]="{ 'is-active' : tab == 4}">
                                <a (click)="tab=4">
                                    <span class="icon ">
                                        <i class="fa fa-cog"></i>
                                    </span>
                                    <span>Configuración y ajustes</span>
                                </a>
                            </li>

                            <li [ngClass]="{ 'is-active' : tab == 5}">
                                <a (click)="tab=5">
                                    <span class="icon ">
                                        <i class="fa fa-file"></i>
                                    </span>
                                    <span>Facturación</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- general -->
                    <div [ngClass]="{ 'is-hidden': tab != 1}">
                        <div class="columns">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Nombre:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="nombre" formControlName="nombre">                                   
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Telefono:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="telefono" formControlName="telefono">                                   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Fax:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="fax" formControlName="fax">                                   
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Correo:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="correo" formControlName="correo">                                   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-12">
                                <div class="field">
                                    <label class="label">Dirección:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="direccion" formControlName="direccion">                                   
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Sitio:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="sitio" formControlName="sitio">                                   
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- clues -->
                    <div [ngClass]="{ 'is-hidden': tab != 2}">
                        <div class="tabs is-boxed">
                            <ul>
                                <li [ngClass]="{ 'is-active' : tab2 == 1}">
                                    <a (click)="tab2=1">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Quienes somos?</span>
                                    </a>
                                </li>
                                <li [ngClass]="{ 'is-active' : tab2 == 2}">
                                    <a (click)="tab2=2">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Historia</span>
                                    </a>
                                </li>
                                <li [ngClass]="{ 'is-active' : tab2 == 3}">
                                    <a (click)="tab2=3">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Misión</span>
                                    </a>
                                </li>
                                <li [ngClass]="{ 'is-active' : tab2 == 4}">
                                    <a (click)="tab2=4">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Visión</span>
                                    </a>
                                </li>
                                <li [ngClass]="{ 'is-active' : tab2 == 5}">
                                    <a (click)="tab2=5">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Valores</span>
                                    </a>
                                </li>
                                <li [ngClass]="{ 'is-active' : tab2 == 6}">
                                    <a (click)="tab2=6">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Pensamientos</span>
                                    </a>
                                </li>
                                <li [ngClass]="{ 'is-active' : tab2 == 7}">
                                    <a (click)="tab2=7">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Politicas de privacidad</span>
                                    </a>
                                </li>
                                <li [ngClass]="{ 'is-active' : tab2 == 8}">
                                    <a (click)="tab2=8">
                                        <span class="icon ">
                                            <i class="fa fa-snowflake-o"></i>
                                        </span>
                                        <span>Video</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div [ngClass]="{ 'is-hidden': tab2 != 1}">
                            <ckeditor formControlName="quienes" debounce="500" [config]="CkeditorConfig"></ckeditor>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab2 != 2}">
                            <ckeditor formControlName="historia" debounce="500" [config]="CkeditorConfig"></ckeditor>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab2 != 3}">
                            <ckeditor formControlName="mision" debounce="500" [config]="CkeditorConfig"></ckeditor>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab2 != 4}">
                            <ckeditor formControlName="vision" debounce="500" [config]="CkeditorConfig"></ckeditor>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab2 != 5}">
                            <ckeditor formControlName="valores" debounce="500" [config]="CkeditorConfig"></ckeditor>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab2 != 6}">
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab2 != 7}">
                            <ckeditor formControlName="privacidad" debounce="500" [config]="CkeditorConfig"></ckeditor>
                        </div>

                        <div [ngClass]="{ 'is-hidden': tab2 != 8}">
                            <nav class="panel" >
                                <p class="panel-heading">
                                    Video promocional
                                </p>
                            </nav>
                            <div class="box" style="margin-top: -20px; border-radius: 0px 0px 8px 8px;" formGroupName="video_promocional">
                                <div class="media-content">
                                    <div class="content">
                                        <div class="columns" >
                                            <div class="column is-6">
                                                <div class="field">
                                                    <label class="label">Contenedor:</label>
                                                    <div class="control is-expanded  has-icon has-icon-right">
                                                        <input class="input" type="text" placeholder="Contenedor" formControlName="containment">                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-6">
                                                <div class="field">
                                                    <label class="label">Video URL:</label>
                                                    <div class="control is-expanded  has-icon has-icon-right">
                                                        <input class="input" type="text" placeholder="video URL" formControlName="videoURL">                                   
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columns" >
                                            <div class="column is-6">
                                                <div class="field">
                                                    <label class="label">Iniciar en el segundo:</label>
                                                    <div class="control is-expanded  has-icon has-icon-right">
                                                        <input class="input" type="text" placeholder="Iniciar en el segundo" formControlName="startAt">                                   
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-6">
                                                <div class="field">
                                                    <label class="label">Transparencia: ({{100-(ctrl.dato.controls.configuracion.controls.video_promocional.controls.opacity.value * 100)}}%)</label>
                                                    <div class="control is-expanded  has-icon has-icon-right">
                                                        <input class="input" type="range" min="0" max="1" step="0.1" placeholder="Transparencia" formControlName="opacity">                                   
                                                        <span class="icon is-small" [style.opacity]="ctrl.dato.controls.configuracion.controls.video_promocional.controls.opacity.value">
                                                            <i class="fa fa-check"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="columns" >
                                            <div class="column is-6">
                                                <br>
                                                <div class="field">
                                                    <div class="b-checkbox is-info">
                                                        <input id="autoPlay" class="styled" type="checkbox" formControlName="autoPlay">
                                                        <label for="autoPlay">
                                                            Inicar al cargar la página?
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="column is-6">
                                                <br>
                                                <div class="field">
                                                    <div class="b-checkbox is-info">
                                                        <input id="mute" class="styled" type="checkbox" formControlName="mute">
                                                        <label for="mute">
                                                            Debe tener sonido?
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- contacto y redes -->
                    <div [ngClass]="{ 'is-hidden': tab != 3}">
                        <!-- contacto -->
                        <nav class="panel">
                            <p class="panel-heading">
                                Medios de contactos
                            </p>
                            <div class="panel-block">
                                <table class="table is-striped is-fullwidth" *ngIf="ctrl.dato.get('configuracion').value.contactos.length > 0">
                                    <thead>
                                        <tr>
                                            <th hide-sm>ID</th>
                                            <th>Red</th>
                                            <th>Valor</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="contactos">
                                        <tr *ngFor="let medio of ctrl.dato.controls.configuracion.controls.contactos.controls; let suc = index" [formGroupName]="suc">
                                            <td>{{ suc + 1 }}</td>
                                            <td>
                                                <div class="select">
                                                    <select class="select" name="tipos_medios_id" formControlName="tipos_medios_id">
                                                            <option *ngFor="let val of ctrl.tipos_medios" value="{{val.id}}" >{{ val.nombre }}</option>
                                                        </select>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="control has-icon"  *ngIf="ctrl.tipos_redes_sociales">
                                                    <input class="input" formControlName="valor" placeholder="Valor" [ngClass]="{'is-danger': !ctrl.dato.controls.configuracion.controls.contactos.controls[suc].controls.valor.valid}"
                                                        type="text">
                                                    <span class="icon is-small">
                                                            <i [ngClass]="ctrl.tipos_medios[ctrl.dato.controls.configuracion.controls.contactos.controls[suc].controls.tipos_medios_id.value - 1].icon"></i>
                                                        </span>
                                                </p>

                                            </td>
                                            <td align="right"><button type="button" class="button is-danger" (click)="ctrl.quitar_form_array(ctrl.dato.controls.configuracion.controls.contactos, suc)"><i class="fa fa-trash-o"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="button is-primary is-outlined is-fullwidth" style="background: rgba(127, 220, 42, 0.62); width:100%; padding: 10px; margin-top: -20px;">
                                <button type="button" class="button is-default" (click)="ctrl.agregar_form_array(ctrl.dato.controls.configuracion.controls.contactos, form_contactos)"><i class="fa fa-plus"></i></button>
                            </div>
                        </nav>

                        <div class="field">
                            <label class="label">Intro redes sociales:</label>
                            <div class="control">
                                <textarea class="textarea"  rows="3" placeholder="Escriba un texto de introducción a las redes sociales" formControlName="intro_redes">
                                </textarea>                                    
                            </div>
                        </div>
                        <!-- redes sociales -->
                        <nav class="panel">
                            <p class="panel-heading">
                                Redes Sociales
                            </p>
                            <div class="panel-block">
                                <table class="table is-striped is-fullwidth" *ngIf="ctrl.dato.get('configuracion').value.redes_sociales.length > 0">
                                    <thead>
                                        <tr>
                                            <th hide-sm>ID</th>
                                            <th>Red</th>
                                            <th>Valor</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="redes_sociales">
                                        <tr *ngFor="let medio of ctrl.dato.controls.configuracion.controls.redes_sociales.controls; let suc = index" [formGroupName]="suc">
                                            <td>{{ suc + 1 }}</td>
                                            <td>
                                                <div class="select">
                                                    <select class="select" name="tipos_redes_sociales_id" formControlName="tipos_redes_sociales_id">
                                                            <option *ngFor="let val of ctrl.tipos_redes_sociales" value="{{val.id}}" >{{ val.nombre }}</option>
                                                        </select>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="control has-icon" *ngIf="ctrl.tipos_redes_sociales">
                                                    <input class="input" formControlName="valor" placeholder="Valor" [ngClass]="{'is-danger': !ctrl.dato.controls.configuracion.controls.redes_sociales.controls[suc].controls.valor.valid}"
                                                        type="text">
                                                    <span class="icon is-small">
                                                            <i [ngClass]="ctrl.tipos_redes_sociales[ctrl.dato.controls.configuracion.controls.redes_sociales.controls[suc].controls.tipos_redes_sociales_id.value - 1].icon"></i>
                                                        </span>
                                                </p>

                                            </td>
                                            <td align="right"><button type="button" class="button is-danger" (click)="ctrl.quitar_form_array(ctrl.dato.controls.configuracion.controls.redes_sociales, suc)"><i class="fa fa-trash-o"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="button is-primary is-outlined is-fullwidth" style="background: rgba(127, 220, 42, 0.62); width:100%; padding: 10px; margin-top: -20px;">
                                <button type="button" class="button is-default" (click)="ctrl.agregar_form_array(ctrl.dato.controls.configuracion.controls.redes_sociales, form_redes_sociales)"><i class="fa fa-plus"></i></button>
                            </div>
                        </nav>
                        <!-- mapa -->                        
                        <div class="field">
                            <label class="label">Mapa Embebido:</label>
                            <div class="control">
                                <textarea class="textarea"  rows="3" placeholder="Mapa compartido de google maps" formControlName="iframe_map">
                                </textarea>                                    
                            </div>
                        </div>
                    </div>

                    <!-- configuracion -->
                    <div [ngClass]="{ 'is-hidden': tab != 4}">
                        <div class="columns">
                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">Moneda:</label>
                                    <div class="select">
                                        <select class="select" name="moneda" formControlName="moneda">
                                            <option *ngFor="let val of ctrl.tipos_monedas" value="{{val.id}}" >({{val.id}}) {{ val.nombre }}</option>
                                        </select>                                
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">Folio Tarjeta:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="Folio tarjeta" formControlName="folioT">                                   
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <label class="label">Folio Efrctivo:</label>
                                    <div class="control is-expanded  has-icon has-icon-right">
                                        <input class="input" type="text" placeholder="Folio efectivo" formControlName="folioE">                                   
                                    </div>
                                </div>
                            </div>
                            <div class="column is-3">
                                <div class="field">
                                    <br><br>
                                    <div class="b-checkbox is-info">
                                        <input id="recibo" class="styled" type="checkbox" formControlName="recibo" >
                                        <label for="recibo">
                                            Imprimir recibos depues de la venta
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-6">
                               
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img [src]="ctrl.dato.get('configuracion').value.logo != '' ? ctrl.API_PATH + '/adjunto/configuracion/' + ctrl.dato.controls.configuracion.controls.logo.value  : './assets/128x128.png'" >
                                        </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="field">
                                                <label class="label">Logo:</label>
                                                <p class="control is-expanded  has-icon has-icon-right" *ngIf="ctrl.dato.get('configuracion').value.logo == ''">
                                                    <input type="file" (change)="ctrl.seleccionarImagenBase64($event, ctrl.dato.controls.configuracion.controls.logo)" accept="image/x-png,image/gif,image/jpeg,image/jpg">
                                                    
                                                </p>
                                                <input foto type="hidden" formControlName="logo" >
                                                <button type="button" class="button is-danger" (click)="ctrl.borrarImagen($event, ctrl.dato.controls.configuracion.controls.logo, 'configuracion')" *ngIf="ctrl.dato.get('configuracion').value.logo != ''">
                                                    <span class="icon">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                    &nbsp; Eliminar logo.                                        
                                                </button>                                    
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <div class="column is-6">
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img [src]="ctrl.dato.get('configuracion').value.fondo != '' ? ctrl.API_PATH + '/adjunto/configuracion/' + ctrl.dato.controls.configuracion.controls.fondo.value  : './assets/128x128.png'" >
                                        </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="field">
                                                <label class="label">Fondo:</label>
                                                <p class="control is-expanded  has-icon has-icon-right" *ngIf="ctrl.dato.get('configuracion').value.fondo == ''">
                                                    <input type="file" (change)="ctrl.seleccionarImagenBase64($event, ctrl.dato.controls.configuracion.controls.fondo)" accept="image/x-png,image/gif,image/jpeg,image/jpg">                                                    
                                                </p>
                                                <input foto type="hidden" formControlName="fondo" >
                                                <button type="button" class="button is-danger" (click)="ctrl.borrarImagen($event, ctrl.dato.controls.configuracion.controls.fondo, 'configuracion')" *ngIf="ctrl.dato.get('configuracion').value.fondo != ''">
                                                    <span class="icon">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                    &nbsp; Eliminar fondo.                                        
                                                </button>                                    
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            
                        </div> 
                        <div class="field">
                            <label class="label">Reintegro:</label>
                            <div class="control">
                                <textarea class="textarea"  rows="3" placeholder="Escriba un texto para las politicas de reintegro, que aparece en los tickets" formControlName="reintegro">
                                </textarea>                                    
                            </div>
                        </div>   
                        
                        <div class="field">
                            <label class="label">Mensaje:</label>
                            <div class="control">
                                <textarea class="textarea"  rows="3" placeholder="Escriba un texto para impresion extra en el ticket" formControlName="mensaje">
                                </textarea>                                    
                            </div>
                        </div>   
                    </div>

                    <!-- facturacion -->
                    <div [ngClass]="{ 'is-hidden': tab != 5}">
                    </div>

                </section>
            </form>
        </div>
    </div>
</div>