<sistema-menu></sistema-menu>

<section style="padding: 1em;">
   
    <section class="contenedor columns is-multiline is-mobile" *ngFor="let val of menu"></section>

</section>

<div class="tabs is-toggle is-fullwidth">
    <ul>
        <li [ngClass]="{ 'is-active' : tab == 1}">
        <a (click)="tab=1">
            <span class="icon is-small">
            <i class="fa fa-female"></i>
            </span>
            <span>Ingresos & Altas</span>
        </a>
        </li>
        <!-- <li [ngClass]="{ 'is-active' : tab == 2}">
            <a (click)="tab=2">
                <span class="icon is-small">
                <i class="fa fa-hospital-o"></i>
                </span>
                <span>Barras</span>
            </a>
        </li> -->
    </ul>
</div>

<div class="columns" [ngClass]="{ 'is-hidden': tab != 1}">
    <div class="column is-1"></div>
    <div class="column is-5">
        <app-dona></app-dona>
    </div>
    <div class="column is-5">
        <app-pastel></app-pastel>
    </div>
</div>

<!-- <div class="columns" [ngClass]="{ 'is-hidden': tab != 2}">
    <div class="column is-1"></div>
    <div class="column is-7">
        <app-barra></app-barra>
    </div>
</div> -->



<app-hub #hub></app-hub>
<app-perfil #perfil></app-perfil>