<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="visitas-puerperales" titulo="Visitas Puerperales / Transacciones" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>


<div class="contenedor columns " style="height:100%; ">
  <!--DATOS DEL PACIENTE-->
  <div class="column is-3">

    <div>
      <div style="padding:1em;">
        <div class="card" style="border-radius:3%" *ngIf="ctrl.dato">
          <div class="card-content" *ngFor="let item of ctrl.dato.get('pacientes').value; let i=index">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="./assets/iconos/icono-detalle-seguimiento.svg" alt="Image">
                </figure>
              </div>

              <div class="media-content">
                <p class="title is-6">
                  {{item.personas.nombre}} {{item.personas.paterno}} {{item.personas.materno}}
                </p>
                <p>
                <p class="subtitle is-7">
                  <strong>CURP: </strong> {{item.personas.id}}
                </p>
              </div>
            </div>
            <div align="left">
              <p class="content">
                <strong>Fecha de Nacimiento: </strong> {{item.personas.fecha_nacimiento | date: 'dd/MM/yyyy'}}
                <br>
                <strong>Telefono: </strong> {{item.personas.telefono}}
                <br>
                <strong>Domicilio: </strong> {{item.personas.domicilio}}
              </p>
              <p class="content">
                <strong>Municipio: </strong> {{item.personas.municipios.nombre}}
                <br>
                <strong>Localidad: </strong> {{item.personas.localidades.nombre}}
              </p>
            </div>
          </div>
        </div>

      </div>
    
    </div>

  </div>
  <div class="column" style="padding:1em;">
    <div style="background: #FFF; border-radius: 1em; ">

      <!-- formulario -->
      <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
        <section class="hero is-primary">
          <div class="hero-body">

            <!-- Opciones  -->
            <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>
            


          </div>


        </section>
        <!--cargarCatalogo('metodos_planificacion?alta=1','metodos-planificacion');-->
        <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">

          <div class="tabs is-large is-fullwidth ">
            <ul>
              <li [ngClass]="{ 'is-active' : tab == 1}">
                <a (click)="tab=1">
                  <span class="icon is-small">
                    <i class="fa fa-calendar-check-o"></i>
                  </span>
                  <span>Visitas Puerperales</span>
                </a>
              </li>
            </ul>
          </div>

          <div [ngClass]="{ 'is-hidden': tab != 1}">

              <a class="button is-success" (click)="nueva_visita()">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>&nbsp; Agregar Nueva Visita
              </a>
     
            <table class="table is-striped is-fullwidth" *ngIf="!ctrl.cargando">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Fecha de Visita</th>
                  <th>Recibio Atención</th>
                  <th>Observaciones</th>  
                  <th>Detalle</th>
                </tr>
              </thead>
              <tbody *ngIf="ctrl.dato">
                <tr *ngFor="let item of ctrl.dato.controls.altas_incidencias.controls[0].controls.visitas_puerperales.controls; let i=index">
                  
                  <th style="vertical-align: middle;">
                    <a>{{ i+1 }}</a>
                  </th>
                  <td style="vertical-align: middle;">
                    <a>{{ item.value.fecha_visita | date: ' dd/MM/yyyy ' }}</a>
                  </td>
                  <td style="vertical-align: middle;">
                    <span *ngIf="item.value.seAtendio == 1">
                      <a>Si</a>
                    </span>
                    <span *ngIf="item.value.seAtendio == 0">
                      <a>No</a>
                    </span>
                  </td>
                  <td style="vertical-align: middle;">
                    <a [innerHTML]='item.value.observaciones | formatoHtml'></a>
                  </td>

                  <td style="vertical-align: middle;">
                    
                    <a *ngIf="item.value.nuevo" title="Quitar Visita" class="button is-danger tooltip"
                        (click)="ctrl.quitar_form_array(ctrl.dato.controls.altas_incidencias.controls[0].controls.visitas_puerperales, i);">
                        <i class="fa fa-trash-o"></i>
                    </a>

                    <a *ngIf="!item.value.nuevo" title="Detalle de la Visita" class="button is-info tooltip" (click)="detalle_visita(item.value)">
                        <i class="fa fa-file-text-o"></i>
                    </a>

                  </td>

                </tr>
                <tr *ngIf="ctrl.dato.controls.altas_incidencias.controls[0].controls.visitas_puerperales.length == 0">
                  <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>


<!--VISITAS-->

<div class="modal" id="visita">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 80%;">
    <header class="modal-card-head">
      <p class="modal-card-title">Nueva Visita</p>
      <button class="delete" (click)="cerrarModal()"></button>
    </header>
    <section class="modal-card-body">


      <div class="columns">
        <div class="column is-12">
          <label class="label">Fecha de la Visita:</label>
          <input class="input" ngui-datetime-picker
                 date-only="true"
                 [(ngModel)]="fecha_visita"
                 style="width:100%;"
                 date-format="MM/DD/YYYY"
                 type="text"
                 placeholder="MM/DD/YYYY">
        </div>
      </div>

      <div class="field columns">
        <div class="control column is-6">
            <label class="label">¿Se Atendio?</label>
            <br>
            <label class="radio">
                <input #seAtendio type="radio" class="styled" name="pregunta" (click)="atencionVisita();">
                <strong>Si</strong>
            </label>
  
            <label class="radio">
                <input #noAtendio type="radio" class="styled" name="pregunta" (click)="atencionVisita();">
                <strong>No</strong>
            </label>
        </div>
      </div>


      <div class="columns" [ngClass]="{ 'is-hidden': ReciboAtencion == 1}">
        <div class="control is-grouped column is-12">
            <p class="control is-expanded  has-icon has-icon-right">
              <label class="label">¿Por Qué?: </label>
              
              <ckeditor autofocus name="porque" [(ngModel)]="porque" debounce="50"
                [config]="CkeditorConfig">
              </ckeditor>
              
              <span class="help is-danger" *ngIf="porque == ''">
                Este campo es requerido.
              </span>
            </p>
        </div>
      </div>

      <div class="columns">
        <div class="control is-grouped column is-12">
          <p class="control is-expanded  has-icon has-icon-right">
            <label class="label">Observaciones: </label>
            
            <ckeditor autofocus name="observaciones" [(ngModel)]="observaciones" debounce="50"
              [config]="CkeditorConfig">
            </ckeditor>
            
            <span class="help is-danger" *ngIf="observaciones == ''">
              Este campo es requerido.
            </span>
          </p>
        </div>

      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-accent" (click)="agregarVisita();">Agregar</button>
      <button class="button" (click)="cerrarModal()">Cancelar</button>
    </footer>
  </div>
</div>

<!--DETALLE VISITA-->
<div class="modal" id="detalle_visita">
  <div class="modal-background"></div>
  <div class="modal-card" style="width: 70%; height: 70%">
    <header class="modal-card-head">
      <p class="modal-card-title">Detalle de la Visita</p>
      <button class="delete" (click)="cerrarModalDetalleVisita()"></button>
    </header>
    <section class="modal-card-body">

      <div class="media-content">
        <div class="content is-center">

          <div class="columns"> 
            <div class="column is-6">
                <h3>Fecha de la Visita:</h3>
                <blockquote>
                    <span class="icon is-small">
                        <i class="fa fa-calendar-check-o"></i>
                    </span>
                    <span> {{fecha_detalle | date: 'dd/MM/yyyy '}}</span>
                </blockquote>
            </div>

            <div class="column is-6">
                <h3>Recibio Atención:</h3>

                <blockquote *ngIf="seAtendio_detalle == 1">
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                    <span>Si</span>
                </blockquote>

                <blockquote *ngIf="seAtendio_detalle == 0">
                    <span class="icon is-small">
                        <i class="fa fa-close"></i>
                    </span>
                    <span>No</span>
                </blockquote>

            </div>

          </div>
          
          <div class="columns" *ngIf="porque_detalle != null">
              <div class="column is-12">
                <h3>¿Por qué no recibió atención?</h3>
                <blockquote>
                    <span [innerHTML]='porque_detalle | formatoHtml'></span>
                </blockquote>
              </div>
          </div>

          <div class="columns">
            <div class="column is-12">
              <h3>Observación:</h3>
              <blockquote>
                  <span [innerHTML]='observaciones_detalle | formatoHtml'></span>
              </blockquote>
            </div>
          </div>

        </div>
      </div>

    </section>
  </div>
</div>

<!--MODAL VALIDACION SEGUIMIENTO-->
<div class="modal" id="visita_datos_vacios">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title"><i class="fa fa-warning"></i> Alerta</p>
        <button class="delete" (click)="cerrarModalValidacionVisita();"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h1>¡Debe llenar todos los datos de la Visita!</h1>
                <p>Verifique cada uno de los campos</p>
            </div>
        </section>
        <footer class="modal-card-foot">
        <a class="button is-success" (click)="cerrarModalValidacionVisita();">Continuar</a>
        </footer>
    </div>
</div>
