<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<listar #ctrl URL="estados-fuerza?clues={{usuario.clues}}" titulo="Estado de Fuerza / Módulo" ></listar>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div class="contenedor columns " style="height:100%; ">
    <div class="column is-2 is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside ></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- Opciones y busqueda -->
            <tabla-opciones [ctrl]="ctrl"></tabla-opciones>

            <span id="exportar_datos" style="overflow-y:auto; overflow-x: hidden; display:block;"[style.maxHeight.px]="tamano-285">

                <!--Tabla -->
                <table class="table is-striped is-fullwidth" *ngIf="ctrl.tipo_grid && !ctrl.cargando " style="overflow:auto;" [style.maxHeight.px]="tamano-285">
                    <thead>
                        <tr>
                            <th>Unidad Médica</th>
                            <th>Turno Laboral</th>
                            <th>Nombre del Usuario</th>
                            <th>Fecha</th>
                            <th width="1%" class="no_pdf">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of ctrl.dato; let i=index">
                            <td style="vertical-align: middle;">{{ item.clues.nombre }}</td>
                            <td style="vertical-align: middle;">{{ item.turnos.nombre }}</td>
                            <td style="vertical-align: middle;">{{ item.sis_usuarios.nombre}}</td>
                            <td style="vertical-align: middle;">{{ item.created_at | date: ' dd/MM/yyyy h:mm:ss a'}}</td>

                            <td style="vertical-align: middle;" class="has-text-centered no_pdf">
                                <!-- acciones -->
                                <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl" class="level-left"></tabla-acciones>
                            </td>

                        </tr>
                        <tr *ngIf="ctrl.dato.length == 0">
                            <td colspan="5" style="vertical-align: middle; color:#888;">Esta lista está vacía.</td>
                        </tr>
                    </tbody>

                </table>

                <!--Lista -->
                <span *ngIf="!ctrl.tipo_grid && !ctrl.cargando">
                    <div class="box" *ngFor="let item of ctrl.dato; let i=index" style="margin-bottom:0.1rem;" [style.background]="i%2 == 0 ? '#fafafa' : '#ffffff'">
                        <article class="media">
                            <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="./assets/128x128.png" alt="Image">
                            </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong class="tag is-medium"> Unidad Medica (Clue): {{item.clues.nombre}}  </strong>
                                        <br>
                                        <strong class="tag"> Nombre del Usuario: {{item.sis_usuarios.nombre}}</strong>
                                        <br>
                                        <strong class="tag" > Turno: {{item.turnos.nombre}} Fecha de Registro: {{ item.created_at }}</strong>

                                    </p>
                                </div>
                                <nav class="level is-mobile" style="float:right">
                                    <div class="level-left">

                                        <!-- acciones -->
                                        <tabla-acciones [item]="item" [index]="i" [ctrl]="ctrl" class="level-left"></tabla-acciones>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    </div>
                </span>
            </span>
            <!-- Paginación para la lista  -->
            <paginacion [ctrl]="ctrl"></paginacion>

        </div>
    </div>
</div>

<div id="imprimir" style="display:none"> 

    <div *ngIf="ctrl.json" style="width: 100%;">

        <img src="../assets/iconos/salud.png">
        <div style="text-align: center;">
            <h1 style="font-size:30px;">Estado de Fueza</h1>
            <p>{{(ctrl.json.clues.clues)}} - {{ctrl.json.clues.nombre}}</p>
            <p>Fecha de Creación: {{ctrl.json.created_at | date: ' dd/MM/yyyy H:mm:ss '}}</p>
        </div>
        <br>
        <div  *ngFor="let serv of ctrl.json.respuesta_estados_fuerza; let s=index">
                <div *ngIf="s == 0">
                    <h1 style="font-size:30px;">
                        <strong>{{serv.cartera_servicios.nombre}}</strong>
                    </h1>
                </div>
                <div *ngIf="s > 0">
                    <h1 style="font-size:30px;" *ngIf="ctrl.json.respuesta_estados_fuerza[s -1].cartera_servicios_id != serv.cartera_servicios_id" >
                       <strong>{{serv.cartera_servicios.nombre}}</strong>
                    </h1>
                </div>
                
                <table style="width: 100%;">
                    <tbody >
                        <tr *ngIf="serv.items.tipos_items_id == 1">
                            <td style="width: 90%;">
                                {{serv.items.nombre}}
                            </td>
                            <td style="width: 10%; padding: 4px;">
                                <a *ngIf="serv.respuesta == 1" >
                                    <span class="tag is-success">&nbsp; Si</span>
                                </a>
                                            
                                <a *ngIf="serv.respuesta == 0" >
                                    <span class="tag is-danger">&nbsp; No</span>
                                </a>
                            </td>
                        </tr>

                        <tr *ngIf="serv.items.tipos_items_id == 2">
                            <td style="width: 90%;">
                                    {{serv.items.nombre}}
                            </td>

                            <td style="width: 10%; padding: 4px;">
                                <a *ngIf="serv.respuesta >= 0" >
                                    <span class="tag"> &nbsp; <strong>{{serv.respuesta}}</strong></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>



        <!-- <span *ngIf="ctrl.json">
            <a>
                {{ctrl.json.turnos.nombre}}
            </a>

            <div>
                    <header>
                        <p>
                           {{ctrl.json.clues.nombre}}
                        </p>
                    </header>
                    <div>
                        <div>
                           
  
                            <div  *ngFor="let serv of ctrl.json.respuesta_estados_fuerza; let s=index">
                                <header>
                                    <p>
                                      {{serv.cartera_servicios.nombre}}
                                      <br>
                                      
                                      
                                    </p>                                        
                                </header>
                                <div>
                                    <div>
                                        <div>                                              
                                            <div *ngIf="serv.items.tipos_items_id == 1" style="margin-bottom: 5px;">
                                                <label>
                                                    {{serv.items.nombre}}
                                                  <br>
                                                    <a *ngIf="serv.respuesta == 1" >
                                                        <span class="tag is-success"><i class="fa fa-check"></i> &nbsp; Si</span>
                                                    </a>
                                                    
                                                    <a *ngIf="serv.respuesta == 0" >
                                                        <span class="tag is-danger"><i class="fa fa-window-close"></i> &nbsp; No</span>
                                                    </a>
                                                </label>
                                            </div>  
                                            <span *ngIf="serv.items.tipos_items_id == 2">
                                                    {{serv.items.nombre}}
                                                    <br>
                                                    {{serv.respuesta}}                                    
                                          
                                            </span> 
  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


        </span> -->
</div>