<!-- crud asignar url de la api URL="url de la api" titulo="un titulo para la pestaña de la pagina" [dato]="variable que contiene el formulario]-->
<formulario #ctrl URL="incidencias" titulo="Incidencias / Transacciones" [dato]="dato"></formulario>

<!-- Menu principal "-->
<sistema-menu></sistema-menu>

<div style="height:50px;"></div>
<div class="contenedor columns " style="height:100%; ">
    <div class="column is-one-quarter is-hidden-mobile menu-izquierda">

        <!-- Menu izquierda del modulo enviroment" -->
        <sistema-menu-aside></sistema-menu-aside>
    </div>
    <div class="column" style="padding:1em;">
        <div style="background: #FFF; border-radius: 1em; ">

            <!-- formulario -->
            <form name="form" novalidate [formGroup]="dato" (ngSubmit)="ctrl.enviar()">
                <section class="hero is-primary">
                    <div class="hero-body">

                        <!-- Opciones  -->
                        <formulario-opciones [ctrl]="ctrl" [id]="ctrl.dato.id"></formulario-opciones>
                    </div>
                </section>

                <section class="section" style="padding: 2rem 2rem !important; overflow:auto;" [style.maxHeight.px]="tamano-175">
                    
                        <a id="catalogos" (click)= "ctrl.cargarCatalogo('estados_embarazos', 'estados-embarazos'); ctrl.cargarCatalogo('derechohabientes', 'derechohabientes');  ctrl.cargarCatalogo('municipios', 'municipios'); ctrl.cargarCatalogo('parentescos', 'parentescos'); ctrl.cargarCatalogo('ubicaciones_pacientes', 'ubicaciones-pacientes'); ctrl.cargarCatalogo('triage_colores', 'triage-colores'); ctrl.cargarCatalogo('turnos_varios', 'turnos');"></a>

                        <div class="tabs is-toggle is-fullwidth">
                                <ul>
                                    <li [ngClass]="{ 'is-active' : tab == 1}">
                                        <a (click)="tab=1">
                                            <span class="icon is-small"><i class="fa fa-female"></i></span>
                                            <span>Datos Personales</span>
                                        </a>
                                    </li>
                                    <li [ngClass]="{ 'is-active' : tab == 2}">
                                        <a (click)="tab=2">
                                            <span class="icon is-small"><i class="fa fa-hospital-o"></i></span>
                                            <span>Datos del Ingreso</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
        
                            <div class="box">
        
                                <label class="label">N° Folio de la Incidencia</label>
                                <div class="field is-grouped">
                                        <p class="control">
                                            <a class="button is-primary" (click)="generar_folio(this.dato.controls.id, true);">Actualizar Folio</a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input class="input" autofocus type="text" placeholder="Folio" formControlName="id" readonly>
                                        </p>
                                    
                                </div>
                                
                                <label class="label">Unidad Medica (Clue):</label>
        
                                <div class="columns">
                                    <p class="control is-expanded  has-icon has-icon-right column is-12">
                                        <input ngui-auto-complete [source]="clues_term" [list-formatter]="autocompleListFormatter" [value-formatter]="valorFormato_clue"
                                            id="clues" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                            (valueChanged)="ctrl.select_item_autocomplete(ctrl.dato.controls.clues, 'clues', $event, true);"
                                            min-chars="1" class="input" type="text" [ngClass]="{'is-danger': ctrl.dato.get('clues').hasError('required') && ctrl.dato.get('clues').touched}"
                                            placeholder="Unidad Medica (Clues):" formControlName="clues">
        
                                        <span class="icon is-small" *ngIf="ctrl.dato.get('clues').hasError('required') && ctrl.dato.get('clues').touched"><i class="fa fa-warning"></i></span>
                                        <span class="help is-danger" *ngIf="ctrl.dato.get('clues').hasError('required') && ctrl.dato.get('clues').touched">Este campo es requerido.</span>
                                    </p>
                                </div>
        
                            </div>
        
                            <div [ngClass]="{ 'is-hidden': tab != 1}">
                                <nav class="panel">
                                    <p class="panel-heading column is-12">
                                        Paciente
                                    </p>
                                    <div class="box" formArrayName="pacientes">
                                        <div formGroupName="0">
                                            <div class="columns">
                                                <div class="column is-6">
                                                    <p class="control is-expanded  has-icon has-icon-right" >
                                                        <label class="label">Curp:</label>
                                                        <input ngui-auto-complete [source]="personas_term" [list-formatter]="autocompleFormatoCurp" [value-formatter]="valorFormato_curp"
                                                        id="curp" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                                        (valueChanged)="ctrl.select_item_autocomplete(ctrl.dato.controls.pacientes.controls[0].controls.personas_id, 'id', $event, true); select_datosPaciente_autocomplete($event)"
                                                        min-chars="1" class="input" type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.personas_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas_id.touched}"
                                                        placeholder="CURP" formControlName="personas_id">
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas_id.touched">Este campo es requerido.</span>
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas_id.hasError('minlength')">La CURP debe tener 18 caracteres.</span>
                                                    </p>
                                                </div>
                                                
                                                <div class="column is-6" formGroupName="personas">
                                                    <p class="control is-expanded has-icon has-icon-right">
                                                        <label class="label">Fecha de Nacimiento:</label>
                                                        <input class="input" type="date" placeholder="Fecha de Nacimiento" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.fecha_nacimiento.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.fecha_nacimiento.touched}"
                                                            formControlName="fecha_nacimiento">
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.fecha_nacimiento.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.fecha_nacimiento.touched">Este campo es requerido.</span>
                                                    </p>
                                                </div>
                                            </div>
                
                                            <div class="columns" formGroupName="personas">
                                                <div class="column is-4">
                                                    <p class="control is-expanded  has-icon has-icon-right">
                                                        <label class="label">Nombre(s):</label>
                                                        <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.nombre.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.nombre.touched}"
                                                            placeholder="Nombre(s)" formControlName="nombre">
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.nombre.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.nombre.touched">Este campo es requerido.</span>
                                                        
                                                    </p>
                                                </div>
        
                                                <div class="column is-4">
                                                    <p class="control is-expanded  has-icon has-icon-right">
                                                        <label class="label">Apellido Paterno:</label>
                                                        <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.paterno.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.paterno.touched}"
                                                            placeholder="Apellido Paterno" formControlName="paterno">
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.paterno.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.paterno.touched">Este campo es requerido.</span>
                                                    </p>
                                                </div>
                                                <div class="column is-4">
                                                    <p class="control is-expanded  has-icon has-icon-right">
                                                        <label class="label">Apellido Materno:</label>
                                                        <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.materno.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.materno.touched}"
                                                            placeholder="Apellido Materno" name="materno" formControlName="materno">
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.materno.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.materno.touched">Este campo es requerido.</span>
                                                    </p>
                                                </div>
        
                                            </div>
                                            <div class="columns" formGroupName="personas">
                                                <div class="column is-4">
                                                    <p class="control is-expanded has-icon has-icon-right">
                                                        <label class="label">Teléfono</label>
                                                        <input class="input" type="text" placeholder="Teléfono" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.telefono.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.telefono.touched}"
                                                            formControlName="telefono">
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.telefono.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.telefono.touched">Este campo es requerido.</span>
                                                    </p>
                                                </div>
                                                <div class="column is-8">
                                                    <p class="control is-expanded has-icon has-icon-right">
                                                        <label class="label">Domicilio</label>
                                                        <input class="input" type="text" placeholder="Domicilio" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.domicilio.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.domicilio.touched}"
                                                            formControlName="domicilio">
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.domicilio.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.domicilio.touched">Este campo es requerido.</span>
        
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="columns" formGroupName="personas">
                                                <div class="column is-6">
                                                    <p class="control is-expanded has-icon has-icon-right">
                                                        <label class="label">Municipio: </label>
                                                        <span class="select">
                                                                <select class="select" name="municipios_id" formControlName="municipios_id" [ngClass]="{'is-danger': municipios_id?.length == 0 }">
                                                                    <option *ngFor="let val of ctrl.municipios" value="{{val.id}}">{{ val.nombre }}</option>
                                                                </select>
                                                            </span>
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.municipios_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.municipios_id.touched">Este campo es requerido.</span>
                                                    </p>
                                                </div>
                                                <div class="column is-6">
                                                    <p class="control is-expanded has-icon has-icon-right">
                                                        <label class="label">Localidad: </label>
                                                        <span class="select">
                                                                <select class="select" name="localidades_id" formControlName="localidades_id" [ngClass]="{'is-danger': localidades_id?.length == 0 }">
                                                                    <option *ngFor="let val of ctrl.municipios" value="{{val.id}}">{{ val.nombre }}</option>
                                                                </select>
                                                            </span>
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.localidades_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.localidades_id.touched">Este campo es requerido.</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="columns" formGroupName="personas">
                                                <div class="column is-6">
                                                    <p class="control is-expanded has-icon has-icon-right">
                                                        <label class="label">Estado de Embarazo: </label>
                                                        <span class="select">
                                                                <select class="select" name="estados_embarazos_id" formControlName="estados_embarazos_id" [ngClass]="{'is-danger': estados_embarazos_id?.length == 0 }">
                                                                    <option *ngFor="let val of ctrl.estados_embarazos" value="{{val.id}}">{{ val.nombre }}</option>
                                                                </select>
                                                            </span>
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.estados_embarazos_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.estados_embarazos_id.touched">Este campo es requerido.</span>
                                                    </p>
                                                </div>
                                                <div class="column is-6">
                                                    <p class="control is-expanded has-icon has-icon-right">
                                                        <label class="label">Derechohabiente: </label>
                                                        <span class="select">
                                                                <select class="select" name="derechohabientes_id" formControlName="derechohabientes_id" [ngClass]="{'is-danger': derechohabientes_id?.length == 0 }">
                                                                    <option *ngFor="let val of ctrl.derechohabientes" value="{{val.id}}">{{ val.nombre }}</option>
                                                                </select>
                                                            </span>
                                                        <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.derechohabientes_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.personas.controls.derechohabientes_id.touched">Este campo es requerido.</span>
                                                    </p>
        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                                <nav class="panel column is-12" formArrayName="pacientes">
                                    <div formGroupName="0">
                                        <div formArrayName="acompaniantes">
                                            <div class="panel-heading column is-12" formGroupName="0">
                                                <p>
                                                    Acompañante
                                                    <!--<label class="checkbox" style="float:right"><input type="checkbox" id= "checar" (change)="mostrar = !mostrar; mostrar ? ctrl.agregar_form_array(ctrl.dato.controls.acompaniantes.controls, form_responsable) : ctrl.quitar_form_array(ctrl.dato.controls.acompaniantes, 1); " formControlName="esResponsable">¿Es responsable?</label>-->
                                                    
                                                    <label style="float:right">¿Es responsable del paciente?
                                                      <label class="radio"><input type="radio" name="esResponsable" (click) = "quitar_form_array(ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes, 1); ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.esResponsable.patchValue(1);"  [checked]="ctrl.dato.get('pacientes').value[0].acompaniantes[0].esResponsable">Si</label>                                                                   
                                                      <label class="radio"><input type="radio" name="esResponsable" (click) = "agregar_form_array();"                                                                                                                                                                                     [checked]="!ctrl.dato.get('pacientes').value[0].acompaniantes[0].esResponsable">No</label>                                                                                                                                                 
                                                    </label>
                                                </p>
                                            
                                            </div>
                                            <div class="box" formGroupName="0">
                                                <div class="columns" >
                                                    <div class="column is-6">
                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                            <label class="label">Curp:</label>
                                                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas_id.touched}"
                                                                placeholder="CURP" formControlName="personas_id">
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas_id.touched">Este campo es requerido.</span>
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas_id.hasError('minlength')">La CURP debe tener 18 caracteres.</span>
                                                        </p>
                                                    </div>
                                                    <div class="column is-6">
                                                        <p class="control is-expanded has-icon has-icon-right">
                                                            <label class="label">Parentesco: </label>
                                                            <span class="select">
                                                                        <select class="select" name="parentescos_id" formControlName="parentescos_id" [ngClass]="{'is-danger': parentescos_id?.length == 0 }">
                                                                            <option *ngFor="let val of ctrl.parentescos" value="{{val.id}}">{{ val.nombre }}</option>
                                                                        </select>
                                                                    </span>
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.parentescos_id.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.parentescos_id.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="columns" formGroupName="personas">
                                                    <div class="column is-4">
                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                            <label class="label">Nombre(s):</label>
                                                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.nombre.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.nombre.touched}"
                                                                placeholder="Nombre(s)" formControlName="nombre">
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.nombre.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.nombre.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
        
                                                    <div class="column is-4">
                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                            <label class="label">Apellido Paterno:</label>
                                                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.paterno.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.paterno.touched}"
                                                                placeholder="Apellido Paterno" formControlName="paterno">
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.paterno.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.paterno.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
                                                    <div class="column is-4">
                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                            <label class="label">Apellido Materno:</label>
                                                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.materno.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.materno.touched}"
                                                                placeholder="Apellido Materno" name="materno" formControlName="materno">
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.materno.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.materno.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
        
                                                </div>
                                                <div class="columns" formGroupName="personas">
                                                    <div class="column is-6">
                                                        <p class="control is-expanded has-icon has-icon-right">
                                                            <label class="label">Teléfono: </label>
                                                            <input class="input" type="text" placeholder="Teléfono" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.telefono.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.telefono.touched}"
                                                                formControlName="telefono">
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.telefono.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.telefono.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
                                                    <div class="column is-6">
                                                        <p class="control is-expanded has-icon has-icon-right">
                                                            <label class="label">Domicilio: </label>
                                                            <input class="input" type="text" placeholder="Domicilio" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.domicilio.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.domicilio.touched}"
                                                                formControlName="domicilio">
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.domicilio.valid && ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[0].controls.personas.controls.domicilio.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
        
                                                </div>
                                            </div>
                                        
                                    </div>
        
        
        
                                    <div *ngIf="!ctrl.dato.get('pacientes').value[0].acompaniantes[0].esResponsable">
                                        <div formArrayName="acompaniantes">
                                            <div class="panel-heading column is-12">
                                                <p>
                                                    Responsable
                                                </p>
                                            </div>
                                            <div class="box" formGroupName="1" >
                                                    <div class="columns" >
                                                        <div class="column is-6">
                                                            <p class="control is-expanded  has-icon has-icon-right">
                                                                <label class="label">Curp:</label>
                                                                <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas_id.touched}"
                                                                    placeholder="CURP" formControlName="personas_id">
                                                                    <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas_id.touched">Este campo es requerido.</span>
                                                                    <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas_id.hasError('maxlength')">La CURP debe tener 18 caracteres.</span>
        
                                                            </p>
                                                        </div>
                                                        <div class="column is-6">
                                                            <p class="control is-expanded has-icon has-icon-right">
                                                                <label class="label">Parentesco: </label>
                                                                <span class="select">
                                                                            <select class="select" name="parentescos_id" formControlName="parentescos_id" [ngClass]="{'is-danger': parentescos_id?.length == 0 }">
                                                                                <option *ngFor="let val of ctrl.parentescos" value="{{val.id}}">{{ val.nombre }}</option>
                                                                            </select>
                                                                        </span>
                                                                <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.parentescos_id.touched">Seleccione un parentesco.</span>
                                                                
                                                            </p>
                                                        </div>
                                                    </div>
                                                  <div formGroupName="personas" >
                                                                <div class="columns" >
                                                                    <div class="column is-4">
                                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                                            <label class="label">Nombre(s):</label>
                                                                            <input class="input" autofocus type="text" placeholder="Nombre(s)" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.nombre.touched}"
                                                                            formControlName="nombre">
                                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.nombre.touched">Este campo es requerido.</span>
                                                                                            
                                                                        </p>
                                                                    </div>
                                                                    <div class="column is-4">
                                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                                            <label class="label">Apellido Paterno:</label>
                                                                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.paterno.touched}"
                                                                                placeholder="Apellido Paterno" formControlName="paterno">
                                                                                <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.paterno.touched">Este campo es requerido.</span>
                                                                        </p>
                                                                    </div>
                                                                    <div class="column is-4">
                                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                                            <label class="label">Apellido Materno:</label>
                                                                            <input class="input" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.materno.touched}"
                                                                                placeholder="Apellido Materno" name="materno" formControlName="materno">
                                                                                <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.materno.touched">Este campo es requerido.</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="columns">
                                                                    <div class="column is-6">
                                                                        <p class="control is-expanded has-icon has-icon-right">
                                                                            <label class="label">Teléfono: </label>
                                                                            <input class="input" type="text" placeholder="Teléfono" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.telefono.touched}"
                                                                                formControlName="telefono">
                                                                                <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.telefono.touched">Este campo es requerido.</span>
                                                                        </p>
                                                                    </div>
                                                                    <div class="column is-6">
                                                                        <p class="control is-expanded has-icon has-icon-right">
                                                                            <label class="label">Domicilio: </label>
                                                                            <input class="input" type="text" placeholder="Domicilio" [ngClass]="{'is-danger': !ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.domicilio.touched}"
                                                                                formControlName="domicilio">
                                                                                <span class="help is-danger" *ngIf="!ctrl.dato.controls.pacientes.controls[0].controls.acompaniantes.controls[1].controls.personas.controls.domicilio.touched">Este campo es requerido.</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </nav>
                            </div>
        
        
                            <div [ngClass]="{ 'is-hidden': tab != 2}">
                                <nav class="panel">
                                    <p class="panel-heading column is-12">
                                        Ingreso
                                    </p>
                                    <div class="box">
                                        <div formGroupName="movimientos_incidencias">
                                            <div formGroupName="0">
                                
                                                <div class="columns">
                                                    <div class="column is-12">
                                                        <p class="control is-expanded  has-icon has-icon-right">
                                                            <label class="label">Subcategorias CIE-10:</label>
                                                            <input ngui-auto-complete [source]="cie10_term" [list-formatter]="autocompleFormatoSubcategoriasCIE10" [value-formatter]="valorFormato_SubcategoriasCIE10"
                                                                id="cie10" path-to-data="" loading-text="Cargando..." no-match-found-text="No hay resultados."
                                                                (valueChanged)="ctrl.select_item_autocomplete(ctrl.dato.controls.movimientos_incidencias.controls[0].controls.subcategorias_cie10_id, 'id', $event, true);"
                                                                min-chars="1" class="input" type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.movimientos_incidencias.controls[0].controls.subcategorias_cie10_id.valid && ctrl.dato.controls.movimientos_incidencias.controls[0].controls.subcategorias_cie10_id.touched}" 
                                                                placeholder="Subcategorias CIE-10">
                                                                
                                                                <span class="help is-danger" *ngIf="!ctrl.dato.controls.movimientos_incidencias.controls[0].controls.subcategorias_cie10_id.valid && ctrl.dato.controls.movimientos_incidencias.controls[0].controls.subcategorias_cie10_id.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
                                                </div>                                        
                                                
        
                                                <div class="columns">
                                                    <div class="column is-4">
                                                        <p class="control is-expanded has-icon has-icon-right">
                                                            <label class="label">Ubicación del Paciente: </label>
                                                            <span class="select">
                                                                    <select class="select" name="ubicacion_pacientes_id" formControlName="ubicacion_pacientes_id" [ngClass]="{'is-danger': ubicacion_pacientes_id?.length == 0 }">
                                                                        <option *ngFor="let val of ctrl.ubicacion_pacientes" value="{{val.id}}">{{ val.nombre }}</option>
                                                                    </select>
                                                                </span>
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.movimientos_incidencias.controls[0].controls.ubicacion_pacientes_id.valid && ctrl.dato.controls.movimientos_incidencias.controls[0].controls.ubicacion_pacientes_id.touched">Este campo es requerido.</span>
                                                                
                                                        </p>
                                                    </div>
        
                                                    <div class="column is-4">
                                                        <p class="control is-expanded has-icon has-icon-right">
                                                            <label class="label">Triage: </label>
                                                            <span class="select">
                                                                    <select class="select" name="triage_colores_id" formControlName="triage_colores_id" [ngClass]="{'is-danger': triage_colores_id?.length == 0 }">
                                                                        <option *ngFor="let val of ctrl.triage_colores" value="{{val.id}}">{{ val.nombre }}</option>
                                                                    </select>
                                                                </span>
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.movimientos_incidencias.controls[0].controls.triage_colores_id.valid && ctrl.dato.controls.movimientos_incidencias.controls[0].controls.triage_colores_id.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
        
                                                    <div class="column is-4">
                                                        <p class="control is-expanded has-icon has-icon-right">
                                                            <label class="label">Turno: </label>
                                                            <span class="select">
                                                                    <select class="select" name="turnos_id" formControlName="turnos_id" [ngClass]="{'is-danger': turnos_id?.length == 0 }">
                                                                        <option *ngFor="let val of ctrl.turnos_varios" value="{{val.id}}">{{ val.nombre }}</option>
                                                                    </select>
                                                                </span>
                                                            <span class="help is-danger" *ngIf="!ctrl.dato.controls.movimientos_incidencias.controls[0].controls.turnos_id.valid && ctrl.dato.controls.movimientos_incidencias.controls[0].controls.turnos_id.touched">Este campo es requerido.</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="columns">
                                            <div class="column is-6">
                                                <p class="control is-expanded  has-icon has-icon-right">
                                                    <label class="label">Motivo del Ingreso</label>
                                                    <textarea class="textarea" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.motivo_ingreso.valid && ctrl.dato.controls.motivo_ingreso.touched}"
                                                        placeholder="Motivo Ingreso" formControlName="motivo_ingreso"></textarea>
                                                    <span class="help is-danger" *ngIf="!ctrl.dato.controls.motivo_ingreso.valid && ctrl.dato.controls.motivo_ingreso.touched">Este campo es requerido.</span>
                                                </p>
                                            </div>
                                            <div class="column is-6">
                                                <p class="control is-expanded  has-icon has-icon-right">
                                                    <label class="label">Impresión Diagnostica</label>
                                                    <textarea class="textarea" autofocus type="text" [ngClass]="{'is-danger': !ctrl.dato.controls.impresion_diagnostica.valid && ctrl.dato.controls.impresion_diagnostica.touched}"
                                                        placeholder="Impresion Diagnostica" formControlName="impresion_diagnostica"></textarea>
                                                    <span class="help is-danger" *ngIf="!ctrl.dato.controls.impresion_diagnostica.valid && ctrl.dato.controls.impresion_diagnostica.touched">Este campo es requerido.</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                </section>
            </form>
        </div>
    </div>
</div>