<section class="hero" [ngClass]=" {'is-dark': ctrl.busquedaActivada, 'is-primary': !ctrl.busquedaActivada } ">
        <div class="hero-body">
            <nav class="level ">
                <!-- Left side -->
                <div class="level-left ">
                    <div class="level-item">
                        <p class="title">
                            <span class="icon is-medium">
                                <i class="{{icono}}"></i>
                            </span>
                            <span class="icon is-medium">
                                <i class="fa fa-list"></i>
                            </span> {{modulo_actual}}
                        </p>
                    </div>                
                </div>
    
                <!-- Right side -->
                <div class="level-right ">
                    <div class="level-item">
                        <div class="field is-grouped"  >
                            <div class="control has-icons-left is-expanded">
                                <input type="text" class="input is-flat is-medium" placeholder="Buscar" #searchBox id="search-box" (keyup)="ctrl.buscar(searchBox.value, 1)">
                                <span class="icon is-medium is-left">
                                    <i class="fa fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <a class="navbar-item tooltip" (click)="ctrl.listar(1)" id='cargar_datos_actualizar' *ngIf="!ctrl.busquedaActivada">
                        <span class="icon fa-2x">
                            <i class="fa fa-refresh"></i>
                        </span>
                        <span class="tooltiptext">Actualizar</span>
                    </a>
    
                    <a class="navbar-item tooltip" (click)="ctrl.listarBusqueda(searchBox.value,1)" id='cargar_datos_actualizar' *ngIf="ctrl.busquedaActivada">
                        <span class="icon fa-2x">
                            <i class="fa fa-refresh"></i>
                        </span>
                        <span class="tooltiptext">Actualizar</span>
                    </a>
    
                    <a class="navbar-item tooltip" routerLink="{{url_nuevo}}" *ngIf="permisos.indexOf(controlador + '.store') > -1 || permisos.indexOf( 'Sis' + controlador + '.store') > -1">
                        <span class="icon fa-2x">
                            <i class="fa fa-file"></i>
                        </span>
                        <span class="tooltiptext">Nuevo</span>
                    </a>
    
                    <a class="navbar-item tooltip" (click)="ctrl.excel(modulo_actual);">
                        <span class="icon fa-2x">
                            <i class="fa fa-file-excel-o"></i>
                        </span>
                        <span class="tooltiptext">Exportar Excel</span>
                    </a>
    
                    <a class="navbar-item tooltip" (click)="ctrl.imprimir(null, '', modulo_actual);">
                        <span class="icon fa-2x">
                            <i class="fa fa-print"></i>
                        </span>
                        <span class="tooltiptext">Imprimir</span>
                    </a>
    
                    <a class="navbar-item  tooltip" (click)="ctrl.cambiar_vista();">
                        <span class="icon fa-2x">
                            <i class="fa fa-table" *ngIf="!ctrl.tipo_grid"></i>
                            <i class="fa fa-list" *ngIf="ctrl.tipo_grid"></i>
                        </span>
                        <span class="tooltiptext" *ngIf="!ctrl.tipo_grid">Cambiar a tabla</span>
                        <span class="tooltiptext" *ngIf="ctrl.tipo_grid">Cambiar a lista</span>
                    </a>
    
                    <a class="navbar-item  is-dark tooltip" *ngIf="ctrl.busquedaActivada" (click)="ctrl.cerrar_busqueda(searchBox)">
                        <span class="icon fa-2x">
                            <i class="fa fa-close"></i>
                        </span>
                        <span class="tooltiptext">Cerrar Busqueda</span>
                    </a>
                </div>
            </nav>
        </div>
    </section>
    
    <div class="is-fullwidth has-text-centered" *ngIf="ctrl.cargando">
        <br>
        <span class="tag is-primary is-large ">
            <span class="icon">
                <i class="fa fa-refresh fa-spin"></i>
            </span> &nbsp;
            <span>Cargando...</span>
        </span>
        <br>
        <br>
    </div>